/**
 * Layout: Container.
 */
.rtsb-elementor-container {
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
	// padding-left: 15px;
	// padding-right: 15px;

	.no-products-found {
		text-align: center;
		display: block;
		width: 100%;
		margin-left: 15px;
		margin-right: 15px;
	}
	.rtsb-action-buttons{
		.button-text{
			margin-left: 7px;
			display:none;
		}
		//.icon{
		//	.icon-default.rtsb-icon{
		//		display:none;
		//	}
		//}
	}
	&.no-category-bg-overlay{
		.category-wrapper:hover{
			.rtsb-product-img a:after{
				display:none!important;
			}
		}
	}
	&.no-compare-icon{
		.rtsb-compare-btn{
			.icon{
				&:first-child{
					display:none;
				}
			}
		}
	}
	&.no-wishlist-icon{
		.rtsb-wishlist-btn{
			.icon{
				&:first-child{
					display:none;
				}
			}
		}
	}
	&.no-quick-view-icon{
		.rtsb-quick-view-btn{
			.icon{
				&:first-child{
					display:none;
				}
			}
		}
	}
	&.no-quick_checkout-icon{
		.rtsb-quick-checkout-btn {
			.icon{
				&:first-child{
					display:none;
				}
			}
		}
	}
	.rtsb-action-buttons{
		.rtsb-action-button-list{
			.rtsb-wishlist-btn{
				//&.rtsb-wishlist-remove{
				//	.icon-default{
				//		display:none!important;
				//	}
				//}
				&.rtsb-loading{
					.button-text{
						opacity:0;
					}
				}

			}
			.rtsb-compare-btn{
				&.rtsb-compare-remove{
					.icon-default{
						display:none!important;
					}
				}
				&.rtsb-loading{
					.button-text{
						opacity:0;
					}
				}
			}
		}
	}
	&.has-compare-text{
		.rtsb-compare-btn{
			.button-text{
				display:block;
				text-align: center;
			}
		}
	}
	&.has-wishlist-text{
		.rtsb-wishlist-btn{
			.button-text{
				display:block!important;
			}
		}
	}
	&.has-quick-view-text{
		.rtsb-quick-view-btn{
			.button-text{
				display:block!important;
			}
		}

	}
	.woocommerce-info {
		@extend .rtsb-primary-color-bg;
	}
}

.rtsb-elementor-container {
	&::before,
	&::after {
		@extend %clearfix;
	}
}

.clearfix,
.rtsb-elementor-container {
	&::after {
		clear: both;
	}
}

.rtsb-row {
	margin-left: -15px;
	margin-right: -15px;

	@extend .rtsb-pos-r;
}

.rtsb-clear:after {
	clear: both;
	content: "";
	display: block;
}
