/**
 * Layout: List Layout 2.
 */
.rtsb-elementor-container {
	.rtsb-list-layout2 {
		.rtsb-product-img {
			border-radius: 8px;
			border: 1px solid #e1e1e1;
		}

		.rtsb-product-content {
			.product-price {
				@media only screen and (min-width: 576px) {
					margin-top: 0;
				}
			}
		}

		.product-title-with-price {
			+ .product-short-description {
				margin-top: 24px;
			}
		}

		.rtsb-action-buttons {
			&.action-buttons-outline {
				.rtsb-action-btn {
					width: 42px;
					height: 42px;
					border-color: $color-secondary;

					&.has-text {
						padding: 8px 25px;
						width: auto;

						@media only screen and (min-width: 576px) {
							min-width: 155px;
						}
					}
				}
			}
		}
	}
}
