/**************************************
SD03B Layout: Header
**************************************/

header {
	background-position: bottom;

	.header-area {
		padding-top: 1.3rem;
		padding-bottom: 4rem;

		.site-search {
			padding-left: $gutter-width;

			svg {
				cursor: pointer;
				width: 16px;
			}
		}

		.nav-socials-wrapper {
			a {
				&:hover,
				&:focus {
					@extend .color-primary;
				}
			}
		}
	}
}
