/**
 * Layout: Grid Layout 1.
 */
.rtsb-elementor-container {
	&[data-layout="slider-layout2"],
	&[data-layout="grid-layout2"] {
		text-align: center;
	}

	.rtsb-slider-layout2,
	.rtsb-grid-layout2 {
		.product-rating {
			justify-content: center;
			@extend .rtsb-mb-0;

			+ .product-price {
				margin-top: 15px;
			}
		}

		.product-price {
			+ .product-title {
				margin-top: 8px;
			}
		}

		.rtsb-product-img {
			margin-bottom: 25px;

			figure {
				a {
					@extend .rtsb-pos-r;

					&::before {
						content: "";
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background: rgba(0, 0, 0, 0.1);
						opacity: 0;
						transition: all 0.3s;
						z-index: 1;

						@extend .rtsb-pos-a;
					}
				}
			}
		}

		.product-title-with-btn {
			margin-top: 8px;
		}

		.rtsb-product {
			.rtsb-grid-item {
				overflow: hidden;
			}

			&:hover {
				.rtsb-product-img {
					figure {
						a {
							&::before {
								opacity: 1;
							}
						}
					}
				}
			}
		}

		.rtsb-product-category,
		.product-short-description {
			margin-top: 15px;
		}

		.rtsb-product-category {
			.rtsb-category-list {
				width: 100%;
				justify-content: center;
			}
		}

		.rtwpvs-archive-variation-wrapper {
			justify-content: center;
		}
	}
}
