/**************************************
SD03E Layout: Blog
**************************************/

body.blog {
	.pagetitle-section {
		@extend .pt-full;
		@extend .pb-full;

		background-color: #141416;
		margin-top: -2rem;

		h1 {
			@extend %white-color;

			font-size: 5.7rem;
			font-weight: 700;

			span {
				&::before {
					@extend %width-100;

					bottom: 18px;
				}
			}
		}
	}

	#wrapper {
		background: #fff;
	}

	.posts-wrapper {
		@extend %m-auto;

		max-width: 930px;

		> article {
			border-bottom: 1px dashed $color-border;
		}
	}
}
