/**
 * Layout: List Layout 1.
 */
.rtsb-elementor-container {
	[class*="list-layout"] {
		.rtsb-product-category {
			display: flex;
			flex-wrap: wrap;
			column-gap: 14px;
			row-gap: 14px;
			align-items: center;

			+ .rtsb-action-buttons {
				margin-top: 30px;
			}
		}

		.product-title {
			+ .rtsb-action-buttons {
				margin-top: 16px;
			}
		}

		.product-rating {
			+ .rtsb-action-buttons {
				margin-top: 18px;
			}
		}

		.rtsb-action-buttons {
			&.action-buttons-cart-text-normal {
				.rtsb-action-button-list {
					gap: 7px;
				}
			}
		}

		.product-short-description {
			+ .rtsb-action-buttons {
				margin-top: 24px;
			}
		}

		.rtsb-product-img {
			text-align: left;
			margin-bottom: 0;
			
			@media (max-width: 575px) {
				max-width: 100% !important;
				margin-bottom: 20px;
			}
		}

		.after-content {
			&.action-buttons-outline,
			&.rtsb-action-buttons-cart-box-width-auto {
				.rtsb-action-button-list {
					justify-content: flex-start;

					.rtsb-quick-checkout,
					.rtsb-cart {
						flex-grow: initial;
					}
				}
			}
		}
	}

	.rtsb-list-layout1 {
		.rtsb-action-btn {
			&.has-text {
				padding: 8px 25px;

				@media only screen and (min-width: 576px) {
					min-width: 155px;
				}
			}
		}

		.product-rating {
			margin-top: 0;
		}
	}
}
