/* ================================
	Customizer specific CSS.
===================================*/

// Define common variables
$border-color: #ddd;
$primary-color: #2271b1;
$secondary-color: #7e8993;
$padding: 10px;
$font-size: 14px;
$line-height: 1.4;

#customize-controls {
	.customize-control {
		padding-bottom: 20px;
		border-bottom: 1px solid $border-color;
		margin-bottom: 15px;

		&.customize-control-kirki-generic.customize-control-has-small-gap {
			margin-top: 10px;
			padding-bottom: 0;
			border: 0;
		}

		&.customize-control-kirki-color {
			padding-bottom: 12px;
			margin-bottom: 12px;
		}
	}

	[id*="customize-control-alsiha_section"] {
		font-size: $font-size;
		font-weight: 600;
		padding: $padding 15px;
		background: #fff;
		border-left: 4px solid $primary-color;
		line-height: $line-height;
		margin-bottom: 20px;

		.customize-control-title {
			margin-bottom: 0;
		}
	}

	.accordion-section-content .customize-control:last-child {
		border-bottom: 0;
		padding-bottom: 0;
	}

	div.customize-section-description {
		font-size: $font-size;
		font-weight: 600;
		padding: 20px;
		background: #fff;
		line-height: $line-height;
		margin-bottom: 30px;
		box-shadow: 0 4px 40px rgba(0, 0, 0, 0.05);
		text-transform: capitalize;

		#sub-accordion-section-custom_css & {
			font-size: 13px;
			font-weight: 400;
			border-bottom: 0;
		}
	}

	.attachment-media-view.attachment-media-view-image {
		margin-bottom: 12px;
	}

	.customize-control-kirki-radio-image img {
		margin-right: 10px;
		border: 1px solid #ccc;
	}

	.select2-container--default {
		.select2-selection {
			min-height: 30px;
			border-radius: 4px;
			border: 1px solid $secondary-color;

			&--multiple {
				min-height: 30px;
			}

			&--single {
				min-height: 30px;
			}
		}
	}

	.wp-picker-container input[type=text].wp-color-picker {
		width: 65px;
		height: auto;
	}

	.customize-control-kirki-typography .wrapper {
		margin-top: 15px;
	}

	.kirki-host-font-locally {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.control-section .accordion-section-title::before {
		vertical-align: bottom;
		margin-right: 10px;
	}

	.date-time-fields .date-input {
		&.day,
		&.hour,
		&.minute {
			width: 46px;
		}

		&.year {
			width: 60px;
		}
	}

	.customize-control.customize-control-kirki-editor {
		iframe {
			height: 220px !important;
		}

		.wp-media-buttons {
			display: none;
		}
	}

	.kirki-toggle {
		.kirki-control-form {
			position: relative;
			top: 3px;
		}

		.kirki-toggle-switch-label {
			&::before {
				height: 22px;
				width: 40px;
				border-radius: 100px;
				background: rgba(0, 0, 0, 0.2);
				border: 0;
			}

			&::after {
				height: 18px;
				width: 18px;
				right: 20px;
				background-color: #fff;
				box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2);
				border: 0;
			}
		}

		.kirki-toggle-switch-input {
			&:checked {
				+ .kirki-toggle-switch-label {
					&::before {
						background: #3398ea;
					}

					&::after {

					}
				}
			}
		}
	}

	#customize-control {
		&-alsiha_body_font,
		&-alsiha_nav_font,
		&-alsiha_icon_nav_font,
		&-alsiha_h1_font,
		&-alsiha_h2_font,
		&-alsiha_h3_font,
		&-alsiha_h4_font,
		&-alsiha_h5_font,
		&-alsiha_h6_font,
		&-alsiha_heading_font {
			display: none;
		}
	}

	[data-kirki-parent-control-type="kirki-typography"] {
		padding-bottom: 0;
		border-bottom: 0;

		+ [id*="customize-control-alsiha_section"] {
			border-top: 1px solid #ddd;
			margin-top: 40px;
			position: relative;

			&::before {
				content: "";
				position: absolute;
				top: -30px;
				left: 0;
				width: 100%;
				height: 1px;
				background: #ddd;
			}
		}
	}
}
