/* ================================
	Elementor Editor specific CSS.
===================================*/

// Abstracts
@import "abstracts/__abstracts-dir";

// Base Styles
@import "base/__base-dir";

.elementor-element {
	.icon {
		.sigma-element {
			width: 20px;
			height: 24px;
			display: inline-block;

			&::before {
				content: "";
				width: 50px;
				height: 40px;
				position: absolute;
				margin-left: -25px;
				top: 10px;
				mask-repeat: no-repeat;
				mask-position: center;
				mask-size: contain;
				background-color: #556068;
				transition: all 0.3s;
				background-color: $admin-color-primary;
			}

			&::after {
				content: "SIGMA";
				background: $admin-color-elementor;
				margin: 3px;
				font-family: Roboto, Arial, Helvetica, Verdana, sans-serif;
				font-size: 9px;
				font-style: normal;
				position: absolute;
				top: 5px;
				left: 5px;
				padding: 3px 5px 3px;
				color: #fff;
				font-weight: bold;
				transition: all 0.3s;
			}
		}
	}

	&:hover {
		.icon {
			.sigma-element {
				&::before,
				&::after {
					background-color: $admin-color-primary;
				}
			}
		}
	}
}

/* widget's icon */

.elementor-element {
	.title-wrapper {
		padding-inline: 5px;
	}

	.icon {
		.sigma-element {
			&::before {
				mask-image: url(../../images/elementor-icon.png);
			}
		}
	}
}

.elementor-editor-active {
	.pswp {
		display: none;
	}

	.elementor-invisible {
		visibility: hidden;
	}
}

.sigma-select2-main-wrapper {
	ul {
		&.select2-selection__rendered {
			li {
				&:last-child {
					pointer-events: none;

					&::before {
						background: var(--e-a-btn-bg);
						content: '+';
						padding: 1px 5px;
						position: relative;
						top: 1px;
						margin-right: 5px;
						color: #fff;
					}
				}

				&[title=search] {
					display: none;
				}
			}
		}
	}
}
