/* ================================
	Elementor Editor specific CSS.
===================================*/

// Abstracts
@import "abstracts/__abstracts-dir";

// Base Styles
@import "base/__base-dir";

body {
	.elementor-panel {
		.elementor-tab-control-settings {
			a {
				&::before {
					content: "\e92c";
				}
			}
		}
	}
}

.elementor-element {
	.icon {
		.rtsb-element {
			width: 20px;
			height: 24px;
			display: inline-block;

			&::before {
				content: "";
				width: 50px;
				height: 24px;
				position: absolute;
				margin-left: -25px;
				top: 18px;
				mask-repeat: no-repeat;
				mask-position: center;
				mask-size: contain;
				background-color: #556068;
			}

			&::after {
				content: "RT";
				background: $admin-color-elementor;
				margin: 3px;
				font-family: Roboto, Arial, Helvetica, Verdana, sans-serif;
				font-size: 9px;
				font-style: normal;
				position: absolute;
				top: 5px;
				left: 5px;
				padding: 3px 5px 3px;
				color: #fff;
				font-weight: bold;
			}
		}
	}

	&:hover {
		.icon {
			.rtsb-element {
				&::before,
				&::after {
					background-color: $admin-color-primary;
				}
			}
		}
	}
}

[id*=category-rtsb-shopbuilder] {
	.elementor-element {
		&:hover {
			.elementor-element-title-wrapper {
				.title {
					color: $admin-color-primary;
				}
			}
		}
	}
}

.elementor-control {
	&[class*="elementor-control-rtsb_el"] {
		.elementor-control-title {
			font-weight: 500;
		}

		.elementor-control-title,
		.elementor-control-field-description {
			font-size: 13px;
			line-height: 1.6;
		}

		.rtsb-elementor-group-heading {
			font-weight: bold;
			border-left: 4px solid $admin-color-primary;
			padding: 10px;
			background: #f1f1f1;
			color: #495157;
		}

		&.elementor-control-content_ordering {
			.elementor-repeater-row-controls {
				&.editable {
					display: none;
				}
			}
		}

		i {
			&.preset-1 {
				&::before {
					content: "1";
					font-style: normal;
					font-weight: 500;
				}
			}

			&.preset-2 {
				&::before {
					content: "2";
					font-style: normal;
					font-weight: 500;
				}
			}
		}
	}

	&.elementor-control- {
		&products_filter {
			padding-top: 15px;
		}
	}

	&-get_pro {
		.elementor-nerd-box {
			padding: 10px;

			&.rtsb-promo {
				text-align: left;
			}
		}
	}

	&.is-pro {
		&::after {
			content: "Upgrade to PRO!";
			padding: 6px 10px;
			border: 1px solid $admin-color-elementor;
			background-color: #ffff;
			position: absolute;
			top: 45%;
			left: 50%;
			transition: 0.5s;
			color: $admin-color-elementor;
			border-radius: 3px;
			z-index: 100;
			width: 120px;
			text-align: center;
			height: 28px;
			margin-left: -60px;
			margin-top: -14px;
			font-size: 13px;
			font-weight: 500;
		}
	}

	.rtsb-pro-label {
		background: $admin-color-elementor;
		margin: 2px;
		font-size: 10px;
		position: relative;
		top: -5px;
		right: -5px;
		padding: 3px 5px 3px;
		color: #fff;
		font-weight: bold;
		border-radius: 4px;
		display: inline-block;
		text-transform: uppercase;
		z-index: 100;
	}

	&.rtsb-pro-field {
		.select2-container {
			z-index: 10;
		}
	}

	&.elementor-control-type-rt-select2 {
		.max-select1 ul li:nth-of-type(2)::before,
		.max-select2 ul li:nth-of-type(3)::before,
		.max-select3 ul li:nth-of-type(4)::before,
		.max-select4 ul li:nth-of-type(5)::before,
		.max-select5 ul li:nth-of-type(6)::before,
		.max-select6 ul li:nth-of-type(7)::before,
		.max-select7 ul li:nth-of-type(8)::before,
		.max-select8 ul li:nth-of-type(9)::before,
		.max-select9 ul li:nth-of-type(10)::before,
		.max-select10 ul li:nth-of-type(11)::before {
			content: none;
			background: red;
		}
	}

	.elementor-pro-notice {
		display: block;
		padding-top: 5px;
		font-size: 12px;
	}

	&.elementor-control-tab_title_typography_typography,
	&.elementor-control-review_desc_typography_typography,
	&.elementor-control-review_meta_typography_typography,
	&.elementor-control-text_typography_typography,
	&.elementor-control-link_typography_typography,
	&.elementor-control-description_typo_typography,
	&.elementor-control-text_stroke_text_stroke_type,
	&.elementor-control-text_shadow_text_shadow_type,
	&.elementor-control-show_custom_icon.rtsb-pro-field,
	&.elementor-control-show_custom_title.rtsb-pro-field,
	&.elementor-control-show_custom_image.rtsb-pro-field,
	&.elementor-control-separator-before-short {
		.elementor-control-content {
			padding-top: 15px;
			position: relative;

			&::before {
				content: "";
				position: absolute;
				height: 1px;
				width: 100%;
				top: 0;
				left: 0;
				background-color: #e6e9ec;
			}
		}

		&.elementor-control-show_custom_icon.rtsb-pro-field,
		&.elementor-control-show_custom_title.rtsb-pro-field,
		&.elementor-control-show_custom_image.rtsb-pro-field {
			.elementor-control-content {
				position: static;
			}
		}

		&.elementor-group-control-box-shadow,
		&.elementor-group-control-font_family {
			.elementor-control-content {
				padding-top: 0;

				&::before {
					content: none;
				}
			}
		}
	}

	&.elementor-control-custom_class {
		.e-ai-button {
			display: none;
		}
	}

	&.elementor-control-show_custom_description.rtsb-pro-field {
		.elementor-control-content {
			padding-bottom: 15px;

			.elementor-control-field-description {
				&::after {
					content: "";
					position: absolute;
					height: 1px;
					width: 100%;
					bottom: 15px;
					left: 0;
					background-color: #e6e9ec;
				}
			}
		}
	}

	&.elementor-control-separator-rtsb-pro-field {
		margin-top: -30px;
		padding-top: 15px;
	}

	.rtsb-el-notice {
		display: block;
		background: #fffbf1;
		padding: 10px;
		font-weight: 500;
		line-height: 1.4;
		color: #bd3a3a;
	}

	&.elementor-control-type-tab {
		&.elementor-control-rtsb_el {
			line-height: 29px;
			font-weight: 500;
			letter-spacing: 0.03em;
			font-size: 11px;
		}
	}

	&.elementor-hidden-control {
		+ .elementor-control-slider_buttons_dot_size_note,
		+ .elementor-control-image_styles_border_note {
			padding-top: 0;

			&::before {
				background: transparent;
			}
		}

		+ .elementor-control-before_count,
		+ .elementor-control-excerpt_limit {
			.elementor-control-content {
				padding-top: 0;

				&::before {
					background: transparent;
				}
			}
		}
	}

	&.elementor-control-rtsb_el_image_styles_hover_overlay_background {
		padding-bottom: 30px;

		.elementor-control-content {
			position: relative;

			&::after {
				content: "";
				position: absolute;
				height: 1px;
				width: 100%;
				bottom: -15px;
				left: 0;
				background-color: #e6e9ec;
			}
		}
	}

	&.elementor-control-rtsb_el_content_border_border {
		.elementor-control-content {
			&::before {
				left: -20px;
				width: calc(100% + 40px);
			}
		}
	}

	&.elementor-control {
		&-mode_button_border_border,
		&-mode_button_border_width,
		&-mode_button_border_width_tablet,
		&-mode_button_border_width_mobile,
		&-mode_button_border_color,
		&-orderby_border_border,
		&-orderby_border_width,
		&-orderby_border_width_tablet,
		&-orderby_border_width_mobile,
		&-orderby_border_color,
		&-pagination_border_border,
		&-pagination_border_width,
		&-pagination_border_width_tablet,
		&-pagination_border_width_mobile,
		&-pagination_border_color,
		&-return_shop_button_border_border,
		&-return_shop_button_border_width,
		&-return_shop_button_border_width_tablet,
		&-return_shop_button_border_width_mobile,
		&-return_shop_button_border_color,
		&-input_border_border,
		&-input_border_width,
		&-input_border_width_tablet,
		&-input_border_width_mobile,
		&-input_border_color,
		&-table_heading_cell_border_border,
		&-table_heading_cell_border_width,
		&-table_heading_cell_border_width_tablet,
		&-table_heading_cell_border_width_mobile,
		&-table_heading_cell_border_color,
		&-module_border_border,
		&-module_border_width,
		&-module_border_width_tablet,
		&-module_border_width_mobile,
		&-module_border_color,
		&-button_border_border,
		&-button_border_width,
		&-button_border_width_tablet,
		&-button_border_width_mobile,
		&-button_border_color,
		&-variation_border_border,
		&-variation_border_width,
		&-variation_border_width_tablet,
		&-variation_border_width_mobile,
		&-variation_border_color,
		&-quantity_border_border,
		&-quantity_border_width,
		&-quantity_border_width_tablet,
		&-quantity_border_width_mobile,
		&-quantity_border_color,
		&-cart_button_border_width,
		&-cart_button_border_width,
		&-cart_button_border_width_tablet,
		&-cart_button_border_width_mobile,
		&-cart_button_border_color,
		&-cart_button_border_border,
		&-content_border_border,
		&-content_border_width,
		&-content_border_width_tablet,
		&-content_border_width_mobile,
		&-content_border_color,
		&-thumb_border_border,
		&-thumb_border_width,
		&-thumb_border_width_tablet,
		&-thumb_border_width_mobile,
		&-thumb_border_color,
		&-text_shadow_text_shadow_type,
		&-text_stroke_text_stroke_type,
		&-pagination_typography_typography,
		&-return_shop_button_typography_typography,
		&-empty_notice_typography_typography,
		&-table_cell_typography_typography,
		&-table_heading_typography_typography,
		&-title_typo_typography,
		&-additional_info_typography_typography,
		&-tab_title_typography_typography,
		&-nav_typography_typography,
		&-product_price_typography_typography,
		&-product_title_typography_typography,
		&-section_heading_typography_typography,
		&-button_typography_typography,
		&-label_input_text_typography_typography,
		&-input_label_typography_typography,
		&-form_heading_typography_typography,
		&-review_desc_typography_typography,
		&-review_meta_typography_typography,
		&-review_heading_typography_typography,
		&-button_typography_typography,
		&-notice_typography_typography,
		&-text_typography_typography,
		&-cart_button_typography_typography,
		&-stock_text_typography_typography,
		&-value_typo_typography,
		&-label_typo_typography,
		&-sale_price_typo_typography,
		&-link_typography_typography,
		&-content_typography_typography,
		&-heading_typography_typography,
		&-typo_typography,
		&-flash_sale_typography_typography,
		&-title_text_stroke_text_stroke_type,
		&-title_text_shadow_text_shadow_type,
		&-fields_label_typo_typography,
		&-fields_border_border,
		&-fields_border_width,
		&-fields_border_width_tablet,
		&-fields_border_width_mobile,
		&-fields_border_color,
		&-form_heading_typo_typography,
		&-body_text_typo_typography,
		&-table_footer_label_typo_typography,
		&-table_border_border,
		&-table_border_width,
		&-table_border_width_tablet,
		&-table_border_width_mobile,
		&-table_border_color,
		&-payment_label_typography_typography,
		&-payment_description_typography_typography,
		&-infobox_typography_typography,
		&-product_stock_text_typography_typography,
		&-product_stock_count_typography_typography,
		&-general_cart_table_border_border,
		&-general_cart_table_border_width,
		&-general_cart_table_border_width_tablet,
		&-general_cart_table_border_width_mobile,
		&-general_cart_table_border_color,
		&-general_cart_table_border_color_tablet,
		&-general_cart_table_border_color_mobile,
		&-label_title_typo_typography,
		&-nav_border_border,
		&-nav_border_width,
		&-nav_border_color,
		&-description_typo_typography {
			.elementor-control-title {
				font-weight: 500;
			}

			.elementor-control-title,
			.elementor-control-field-description {
				font-size: 13px;
				line-height: 1.6;
			}
		}
	}

	&.elementor-control-cart_table .elementor-control-cart_table_items,
	&.elementor-control-rtsb_el_rating_typography_font_size.elementor-control-type-slider,
	&.elementor-control-text_shadow_text_shadow_type + .elementor-controls-popover [class*=text_shadow],
	&.elementor-control-text_stroke_text_stroke_type + .elementor-controls-popover [class*=text_stroke] {
		.elementor-control-content {
			padding-top: 0;

			&::before {
				background: transparent;
			}
		}
	}

	&.elementor-control-advance_tabs,
	&.elementor-control-filter_types {
		> .elementor-control-content {
			> label {
				> .elementor-control-title {
					margin-bottom: 15px;
					display: block;
					text-align: center;
				}
			}
		}
	}

	&.elementor-control-filter_types,
	&.elementor-control-share_platforms {
		.elementor-repeater-row-item-title {
			text-transform: capitalize;
			font-weight: 500;
		}
	}
}

div[id*="elementor-panel-category-rtsb"] {
	.elementor-element-title-wrapper {
		padding-left: 5px;
		padding-right: 5px;
		line-height: 1.27;
	}

	.elementor-element {
		.title-wrapper {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
}

/* widget's icon */

.elementor-element {
	.title-wrapper {
		padding-inline: 5px;
	}

	.icon {
		.rtsb-element {
			&.icon-rtsb-actions-button {
				&::before {
					mask-image: url(../../images/icon/actions_button_2.svg);
				}
			}

			&.icon-rtsb-product-share {
				&::before {
					mask-image: url(../../images/icon/product_share_2.svg);
				}
			}

			&.icon-rtsb-advance-product-tabs {
				&::before {
					mask-image: url(../../images/icon/advanced_product_tabs_1.svg);
				}
			}

			&.icon-rtsb-product-tabs {
				&::before {
					mask-image: url(../../images/icon/product_tabs_2.svg);
				}
			}

			&.icon-rtsb-product-reviews {
				&::before {
					mask-image: url(../../images/icon/product_reviews_2.svg);
				}
			}

			&.icon-rtsb-wc-notice {
				&::before {
					mask-image: url(../../images/icon/notice_2.svg);
				}
			}

			&.icon-rtsb-product-add-to-cart {
				&::before {
					mask-image: url(../../images/icon/product_add_to_cart_2.svg);
				}
			}

			&.icon-rtsb-product-stock {
				&::before {
					mask-image: url(../../images/icon/product_stock_2.svg);
				}
			}

			&.icon-rtsb-product-sku {
				&::before {
					mask-image: url(../../images/icon/product_sku_2.svg);
				}
			}

			&.icon-rtsb-product-tags {
				&::before {
					mask-image: url(../../images/icon/product_tags_2.svg);
				}
			}

			&.icon-rtsb-product-categories {
				&::before {
					mask-image: url(../../images/icon/product_categories_2.svg);
				}
			}

			&.icon-rtsb-product-meta {
				&::before {
					mask-image: url(../../images/icon/product_meta_2.svg);
				}
			}

			&.icon-rtsb-product-price {
				&::before {
					mask-image: url(../../images/icon/product_price_2.svg);
				}
			}

			&.icon-rtsb-product-rating {
				&::before {
					mask-image: url(../../images/icon/product_rating_2.svg);
				}
			}

			&.icon-rtsb-product-additional-info {
				&::before {
					mask-image: url(../../images/icon/additional_information_2.svg);
				}
			}

			&.icon-rtsb-product-description {
				&::before {
					mask-image: url(../../images/icon/product_description_2.svg);
				}
			}

			&.icon-rtsb-short-description {
				&::before {
					mask-image: url(../../images/icon/short_description_2.svg);
				}
			}

			&.icon-rtsb-product-image {
				&::before {
					mask-image: url(../../images/icon/product_image_2.svg);
				}
			}

			&.icon-rtsb-product-title {
				&::before {
					mask-image: url(../../images/icon/product_title_3.svg);
				}
			}

			&.icon-rtsb-related-product {
				&::before {
					mask-image: url(../../images/icon/related_product_default_2.svg);
				}
			}

			&.icon-rtsb-upsells-product {
				&::before {
					mask-image: url(../../images/icon/upsells_product_default_2.svg);
				}
			}

			&.icon-rtsb-related-products-slider {
				&::before {
					mask-image: url(../../images/icon/related_product_slider_custom_2.svg);
				}
			}

			&.icon-rtsb-related-product-custom {
				&::before {
					mask-image: url(../../images/icon/related_product_custom_2.svg);
				}
			}

			&.icon-rtsb-upsells-product-slider {
				&::before {
					mask-image: url(../../images/icon/upsells_product_slider_custom_2.svg);
				}
			}

			&.icon-rtsb-upsells-product-custom {
				&::before {
					mask-image: url(../../images/icon/upsells_product_custom_2.svg);
				}
			}

			&.icon-rtsb-product-onsale {
				&::before {
					mask-image: url(../../images/icon/product_onsale.svg);
				}
			}

			&.icon-rtsb-product-breadcrumbs {
				&::before {
					mask-image: url(../../images/icon/breadcrumbs_2.svg);
				}
			}

			&.icon-rtsb-products-grid {
				&::before {
					mask-image: url(../../images/icon/product-archive-default_2.svg);
				}
			}

			&.icon-rtsb-products-list {
				&::before {
					mask-image: url(../../images/icon/product-list_2.svg);
				}
			}

			&.icon-rtsb-products-slider {
				&::before {
					mask-image: url(../../images/icon/product-slider_2.svg);
				}
			}

			&.icon-rtsb-products-single-category {
				&::before {
					mask-image: url(../../images/icon/product_single_category_3.svg);
				}
			}

			&.icon-rtsb-product-categories-general {
				&::before {
					mask-image: url(../../images/icon/general_product_categories_2.svg);
				}
			}

			&.icon-rtsb-social-share {
				&::before {
					mask-image: url(../../images/icon/social_share_2.svg);
				}
			}

			&.icon-rtsb-products-archive-custom {
				&::before {
					mask-image: url(../../images/icon/product-archive-custom_2.svg);
				}
			}

			&.icon-rtsb-products-archive {
				&::before {
					mask-image: url(../../images/icon/product-archive-default_2.svg);
				}
			}

			&.icon-rtsb-archive-title {
				&::before {
					mask-image: url(../../images/icon/archive_title_2.svg);
				}
			}

			&.icon-rtsb-archive-description {
				&::before {
					mask-image: url(../../images/icon/archive_description_2.svg);
				}
			}

			&.icon-rtsb-archive-result-count {
				&::before {
					mask-image: url(../../images/icon/archive_result_count_2.svg);
				}
			}

			&.icon-rtsb-products-ordering {
				&::before {
					mask-image: url(../../images/icon/product_ordering_2.svg);
				}
			}

			&.icon-rtsb-archive-product-mode {
				&::before {
					mask-image: url(../../images/icon/archive_view_mode_2.svg);
				}
			}

			&.icon-rtsb-cross-sell-product-custom {
				&::before {
					mask-image: url(../../images/icon/cross_sell_product_custom_2.svg);
				}
			}

			&.icon-rtsb-crosssell-product-slider {
				&::before {
					mask-image: url(../../images/icon/cross_sell_product_custom_slider_2.svg);
				}
			}

			&.icon-rtsb-cross-sells {
				&::before {
					mask-image: url(../../images/icon/cross_sell_product_default_3.svg);
				}
			}

			&.icon-rtsb-product-carttable {
				&::before {
					mask-image: url(../../images/icon/cart_table_2.svg);
				}
			}

			&.icon-rtsb-product-cart-totals {
				&::before {
					mask-image: url(../../images/icon/cart_totals_4.svg);
				}
			}

			// Checkout page
			&.icon-rtsb-billing-form {
				&::before {
					mask-image: url(../../images/icon/billing_form.svg);
				}
			}

			&.icon-rtsb-shipping-form {
				&::before {
					mask-image: url(../../images/icon/shipping_form.svg);
				}
			}

			&.icon-rtsb-multi-step-checkout {
				&::before {
					mask-image: url(../../images/icon/multistep-checkout.svg);
				}
			}

			&.icon-rtsb-order-notes {
				&::before {
					mask-image: url(../../images/icon/order_notes.svg);
				}
			}

			&.icon-rtsb-order-review {
				&::before {
					mask-image: url(../../images/icon/order_review.svg);
				}
			}

			&.icon-rtsb-checkout-payment {
				&::before {
					mask-image: url(../../images/icon/checkout_payment.svg);
				}
			}

			&.icon-rtsb-cart-coupon-form,
			&.icon-rtsb-coupon-form {
				&::before {
					mask-image: url(../../images/icon/coupon_form.svg);
				}
			}

			&.icon-rtsb-checkout-login-form {
				&::before {
					mask-image: url(../../images/icon/checkout_login_form.svg);
				}
			}

			&.icon-rtsb-shipping-method {
				&::before {
					mask-image: url(../../images/icon/shipping_method.svg);
				}
			}

			// Checkout page End

			//Thankyou page start

			&.icon-rtsb-order-received-text {
				&::before {
					mask-image: url(../../images/icon/order_received_text.svg);
				}
			}

			&.icon-rtsb-order-details-summary {
				&::before {
					mask-image: url(../../images/icon/order_details_summary.svg);
				}
			}

			&.icon-rtsb-order-details-table {
				&::before {
					mask-image: url(../../images/icon/order_details_table.svg);
				}
			}

			&.icon-rtsb-downloadable-products {
				&::before {
					mask-image: url(../../images/icon/downloadable_products.svg);
				}
			}

			&.icon-rtsb-order-billing-address {
				&::before {
					mask-image: url(../../images/icon/order_billing_address.svg);
				}
			}

			&.icon-rtsb-order-shipping-address {
				&::before {
					mask-image: url(../../images/icon/order_shipping_address.svg);
				}
			}

			&.icon-rtsb-product-sales-count {
				&::before {
					mask-image: url(../../images/icon/product-sale-count.svg);
				}
			}

			&.icon-rtsb-product-flash-sale-countdown {
				&::before {
					mask-image: url(../../images/icon/product-sales-countdown.svg);
				}
			}

			&.icon-rtsb-product-size-chart {
				&::before {
					mask-image: url(../../images/icon/product-size-chart.svg);
				}
			}

			&.icon-rtsb-product-quick-checkout {
				&::before {
					mask-image: url(../../images/icon/quick-checkout-button.svg);
				}
			}


			// Thankyou page end

			// Myaccount page start

			&.icon-rtsb-account-navigation {
				&::before {
					mask-image: url(../../images/icon/account_navigation.svg);
				}
			}

			&.icon-rtsb-account-dashboard {
				&::before {
					mask-image: url(../../images/icon/account_dashboard.svg);
				}
			}

			&.icon-rtsb-account-orders {
				&::before {
					mask-image: url(../../images/icon/account_orders.svg);
				}
			}

			&.icon-rtsb-account-order-status {
				&::before {
					mask-image: url(../../images/icon/account_order_status.svg);
				}
			}

			&.icon-rtsb-account-order-download {
				&::before {
					mask-image: url(../../images/icon/account_order_download.svg);
				}
			}

			&.icon-rtsb-account-order-note {
				&::before {
					mask-image: url(../../images/icon/account_order_note.svg);
				}
			}

			&.icon-rtsb-account-order-table {
				&::before {
					mask-image: url(../../images/icon/account_order_table.svg);
				}
			}

			&.icon-rtsb-account-order-again {
				&::before {
					mask-image: url(../../images/icon/account_order_button.svg);
				}
			}

			&.icon-rtsb-account-order-shipping {
				&::before {
					mask-image: url(../../images/icon/account_order_shipping.svg);
				}
			}

			&.icon-rtsb-account-order-billing {
				&::before {
					mask-image: url(../../images/icon/account_order_billing.svg);
				}
			}

			&.icon-rtsb-account-download {
				&::before {
					mask-image: url(../../images/icon/account_downloads.svg);
				}
			}

			&.icon-rtsb-account-billing-address {
				&::before {
					mask-image: url(../../images/icon/account_billing_address.svg);
				}
			}

			&.icon-rtsb-account-shipping-address {
				&::before {
					mask-image: url(../../images/icon/account_shipping_address.svg);
				}
			}

			&.icon-rtsb-account-address-description {
				&::before {
					mask-image: url(../../images/icon/account_address_description.svg);
				}
			}

			&.icon-rtsb-account-edit-shipping-address {
				&::before {
					mask-image: url(../../images/icon/account_edit_shipping_address.svg);
				}
			}

			&.icon-rtsb-account-edit-billing-address {
				&::before {
					mask-image: url(../../images/icon/account_edit_billing_address.svg);
				}
			}

			&.icon-rtsb-account-details {
				&::before {
					mask-image: url(../../images/icon/details.svg);
				}
			}

			&.icon-rtsb-account-login-form,
			&.icon-rtsb-account-registration-form,
			&.icon-rtsb-account-login {
				&::before {
					mask-image: url(../../images/icon/account_login_form.svg);
				}
			}

			&.icon-rtsb-account-lost-password {
				&::before {
					mask-image: url(../../images/icon/lost_password_form.svg);
				}
			}

			&.icon-rtsb-wishlist {
				&::before {
					mask-image: url(../../images/icon/wishlist.svg);
				}
			}

			&.icon-rtsb-ajax-product-filters {
				&::before {
					mask-image: url(../../images/icon/filter.svg);
				}
			}

			&.icon-rtsb-highlighted-product {
				&::before {
					mask-image: url(../../images/icon/highlighted_product.svg);
				}
			}

			&.icon-rtsb-product-stock-count {
				&::before {
					mask-image: url(../../images/icon/product_stock_counter.svg);
				}
			}

			&.icon-rtsb-endpoint-dynamic-content {
				&::before {
					mask-image: url(../../images/icon/shopbuilder-logo-white.svg);
				}
			}
		}
	}
}

.rtsb-dialog-buttons-action {
	background: $admin-color-primary !important;

	&:hover {
		background: $admin-color-primary-hover !important;
	}
}

.elementor-editor-active {
	.pswp {
		display: none;
	}

}
