/* ================================ */
/* Frontend Extra RTL CSS.
/* ================================ */

//===============//
// Placeholders.
//===============//
%rotate-icon {
	i {
		transform: rotate(180deg);
	}
}

%checkbox-fix {
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}

//===============//
// Mixins.
//===============//
@mixin rtl-rotate-icon($class) {
	#{$class} {
		@extend %rotate-icon;
	}
}

@mixin rtl-checkbox() {
	@extend %checkbox-fix;
}

html[dir="rtl"] {
}
