/**
 * Component: Fonts.
 */

@font-face {
	font-family: 'rtsb-font';
	src: url('../../fonts/rtsb-font.eot?l51doq');
	src: url('../../fonts/rtsb-font.eot?l51doq#iefix') format('embedded-opentype'),
	url('../../fonts/rtsb-font.ttf?l51doq') format('truetype'),
	url('../../fonts/rtsb-font.woff?l51doq') format('woff'),
	url('../../fonts/rtsb-font.svg?l51doq#rtsb-font') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

.rtsb-icon {
	font-family: 'rtsb-font' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.rtsb-icon-list:before {
	content: "\e904";
}

.rtsb-icon-list-2:before {
	content: "\e920";
}

.rtsb-icon-zoom:before {
	content: "\e900";
}

.rtsb-icon-eye:before {
	content: "\e901";
}

.rtsb-icon-search:before {
	content: "\e902";
}

.rtsb-icon-pay:before {
	content: "\e903";
}

.rtsb-icon-edit:before {
	content: "\e905";
}

.rtsb-icon-downloads:before {
	content: "\e906";
}

.rtsb-icon-coupon:before {
	content: "\e907";
}

.rtsb-icon-exchange:before {
	content: "\e908";
}

.rtsb-icon-cart:before {
	content: "\e909";
}

.rtsb-icon-marker:before {
	content: "\e90a";
}

.rtsb-icon-avatar:before {
	content: "\e90b";
}

.rtsb-icon-user-edit:before {
	content: "\e90c";
}

.rtsb-icon-billing:before {
	content: "\e91b";
}

.rtsb-icon-login:before {
	content: "\e91c";
}

.rtsb-icon-order:before {
	content: "\e91d";
}

.rtsb-icon-payment:before {
	content: "\e91e";
}

.rtsb-icon-delete:before {
	content: "\e90d";
}

.rtsb-icon-check:before {
	content: "\e90e";
}

.rtsb-icon-arrows-cw:before {
	content: "\e90f";
}

.rtsb-icon-trash-empty:before {
	content: "\e910";
}

.rtsb-icon-filter:before {
	content: "\e911";
}

.rtsb-icon-heart-empty:before {
	content: "\e912";
}

.rtsb-icon-minus:before {
	content: "\e913";
}

.rtsb-icon-share:before {
	content: "\e914";
}

.rtsb-icon-clock:before {
	content: "\e915";
}

.rtsb-icon-check-alt:before {
	content: "\e916";
}

.rtsb-icon-plus:before {
	content: "\e917";
}

.rtsb-icon-power:before {
	content: "\e918";
}

.rtsb-icon-cart-3:before {
	content: "\e919";
}

.rtsb-icon-cart-2:before {
	content: "\e91a";
}

.rtsb-icon-heart:before {
	content: "\e91f";
}

.rtsb-icon-grid:before {
	content: "\e921";
}
