/**
 * Hello Elementor Compatibility CSS.
 */

.rtsb_theme_hello-elementor {

	.rtsb-builder-content {
		padding-left: 15px;
		padding-right: 15px;

		@media (min-width: 1025px) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	&.single-product {
		#rtsb-builder-content {
			.rtsb-product-tabs {
				&:not(.tabs-custom-layout2) {
					.woocommerce-tabs {
						li {
							padding: 5px 15px;
						}
					}
				}

				.woocommerce-noreviews {
					color: #fff;
					border-radius: 2px;
					clear: both;
					border-left: 0.6180469716em solid rgba(0, 0, 0, .15);
					padding: 15px 30px;
					position: relative;
					list-style: none outside;
					margin-bottom: 20px;
					background-color: #004BFF;
				}

				&.tabs-custom-layout2 {
					ul.tabs {
						&::before {
							content: none;
						}

						li {
							background: none;
							margin: 0;
							padding: 0;

							&::before {
								content: none;
							}

							&.active {
								a {
									color: #fff;
								}
							}
						}
					}
				}
			}
			.rtsb-product-add-to-cart{
				th,
				td {
					background: transparent;
				}
			}
		}

		.elementor-widget-rtsb-product-add-to-cart {
			.rtsb-product-add-to-cart {
				form.cart {
					.quantity {
						margin-right: 12px;
					}

					select {
						padding-inline: 10px;
						font-size: 14px;
					}
				}
			}
		}

		.stock.in-stock {
			color: #0f834d;
		}
	}

	.rtsb-cart-table {
		table.shop_table {
			tr {
				th,
				td {
					border: none;
				}
			}
		}
	}

	&.woocommerce {
		div.product {
			div.images {
				.woocommerce-product-gallery__trigger {
					&::before,
					&::after {
						content: none;
					}
				}
			}
		}
	}

	.rtsb-el-borderless-table {
		.rtsb-cart-totals {
			.order-total,
			.cart-subtotal {
				th, td {
					border: 0;
				}
			}
		}
	}

	.rtsb-checkout-payment {
		.wc_payment_methods {
			.woocommerce-info {
				@extend .rtsb-white-color;
			}
		}
	}

	.elementor-widget-rtsb-account-download {
		.woocommerce-Message {
			color: #fff;
		}
	}
}
