/**
 * Storefront Compatibility CSS.
 */
.rtsb_theme_storefront {
	.rtsb-builder-content {

		.rtsb-product-catalog {
			&.rtsb-pagination-icon {
				&-prev {
					.prev {
						text-indent: initial;

						&::after {
							content: none;
						}
					}
				}

				&-next {
					.next {
						text-indent: initial;

						&::after {
							content: none;
						}
					}
				}
			}

			.woocommerce-pagination {
				float: initial;

				.page-numbers:not(ul, div) {
					width: 35px;
					height: 35px;
				}
			}
		}

		.rtsb-product-rating {
			.woocommerce-product-rating {
				@extend %mtb-0;
			}
		}

		.rtsb-product-meta{
			.product_meta {
				padding-top: 0;
			}
		}
		.rtsb-myacount-page,
		.rtsb-order-thankyou{
			table{
				td{
					vertical-align: unset;
				}
			}
		}
		.rtsb-product-meta.rtsb-is-cat:not(.rtsb-show-cat) .posted_in,
		.rtsb-product-meta.rtsb-is-sku:not(.rtsb-show-sku) .sku_wrapper,
		.rtsb-product-meta.rtsb-is-tag:not(.rtsb-show-tag) .tagged_as {
			display: none;
		}
		input[type=text],
		input[type=number],
		input[type=email],
		input[type=tel],
		input[type=url],
		input[type=password],
		input[type=search],
		textarea,
		.input-text{
			box-shadow: none;
			max-width: 100%;
			&:focus{
				outline: 0;
			}
		}
		.required {
			text-decoration: none;
		}

		#ship-to-different-address {
			margin: 0;
			label{
				font-weight: inherit;
			}
		}

	}

	#rtsb-builder-content {
		// Single Product image.
		.product {
			overflow: initial;
			.woocommerce-product-gallery {
				width: 100%;
				margin-right: 0;
				margin-bottom: 0;
				float: initial;

				img {
					width: 100%;
				}
			}
			.images {
				.flex-control-thumbs {
					display: block;
					overflow: hidden;
					padding: 0;

					li {
						margin: 0;
						float: left;
					}
				}
			}
			.action-button-wrapper{
				justify-content: center;
			}

			&.rtsb-product-list-view {
				.rtsb-product-content {
					flex-direction: column;
					align-items: flex-start;

					@extend .rtsb-d-flex;
					@extend .rtsb-justify-content-center;
				}
			}
		}

		.rtsb-product-images {

			.onsale {
				position: absolute;
				z-index: 99;
			}

			.woocommerce-product-gallery__trigger {
				text-indent: initial;

				&::before {
					content: none;
				}
			}
		}

		:is( td, th ).actions{
			text-align: right;
			border: none;
		}
	}
	&.single-product{
		.stock:before{
			display:none;
		}
		//.woocommerce-message{
		//	&:before{
		//		position:initial;
		//		line-height:1;
		//	}
		//}
	}
   &.single-product{
	   div.product p.price{
		   font-size:inherit;
	   }
   }
	.quick-view-product-wrapper{
		.rtsb-product-stock{
			.stock:before{
				display:none;
			}
		}
	}
}

