/**
 * 2020 Compatibility CSS.
 */
.rtsb_theme_twentytwenty {
	.rtsb-builder-content {
		ins {
			text-decoration: none;
		}

		&.woocommerce ul.products li.product {
			display: initial;

			&:is( .rtsb-product-list-view ) {
				display: flex;
			}
		}

		.rtsb-product-images {
			li {
				margin: 0;
			}

		}
	}
}
