/**
 * Variation Swatches Compatibility CSS.
 */

.rtsb-elementor-container {
	.rtwpvs-archive-variation-wrapper {
		display: flex;
	}

	.rtsb-swatches {
		+ .rtsb-product-category,
		+ .rtsb-product-title-wrapper,
		+ .product-rating,
		+ .product-price,
		+ .product-short-description,
		+ .product-title-with-price {
			margin-top: 12px;
		}

		&.circle-layout,
		&.square-layout {
			.rtwpvs-variation-terms-wrapper {
				.rtwpvs-terms-wrapper {
					.rtwpvs-term:not(.rtwpvs-button-term),
					.rtwpvs-term:not(.rtwpvs-button-term) .rtwpvs-term-span,
					.rtwpvs-term:not(.rtwpvs-button-term) .rtwpvs-term-span::after {
						border-radius: 2px;
					}

					.rtwpvs-term:not(.rtwpvs-button-term) {
						width: 18px;
						height: 18px;
						padding: 3px;
						box-shadow: 0 0 0 1px rgba(0,0,0,.3) !important;
						border: 0;

						&.selected {
							padding: 3px;
							box-shadow: 0 0 0 2px #333 !important;
						}
					}
				}
			}
		}

		&.circle-layout {
			.rtwpvs-variation-terms-wrapper {
				.rtwpvs-terms-wrapper {
					.rtwpvs-term:not(.rtwpvs-button-term),
					.rtwpvs-term:not(.rtwpvs-button-term) .rtwpvs-term-span,
					.rtwpvs-term:not(.rtwpvs-button-term) .rtwpvs-term-span::after {
						border-radius: 50%;
					}
				}
			}
		}

		.rtwpvs_archive_reset_variations {
			font-weight: 500;
			font-size: 14px;
		}

		.variations_form {
			margin-top: 12px;

			@media (min-width: 576px) {
				margin-top: 0;
			}
		}

		.rtwpvs-variation-terms-wrapper {
			+ .rtwpvs-variation-terms-wrapper {
				margin-top: 10px;
			}
		}
	}

	&.no-clear-btn {
		.rtwpvs_archive_reset_variations {
			display: none;
		}
	}

	.rtsb-grid-layout4 {
		.rtsb-swatches {
			+ {
				.rtsb-product-title-wrapper {
					margin-top: 0;
				}
			}
		}
	}
}
