/**
 * Admin Global CSS.
 */
:root {
	--sigma-admin-color-primary: #4360ef;
	--sigma-admin-color-primary-hover: #1f3edc;
	--sigma-admin-color-secondary: #d80e0e;
	--sigma-admin-color-secondary-hover: #a80000;
	--sigma-admin-color-elementor: #93003c;
	--sigma-default-columns: 4;
}
