// ===========================
//	Content Positions Mixins
// ===========================

// Content position
@mixin content-position($positions...) {
	@each $pos, $value in (top, right, bottom, left) {
		@if length($positions) >= index((top, right, bottom, left), $pos) {
			$value: nth($positions, index((top, right, bottom, left), $pos));
			@if $value != null {
				#{$pos}: $value;
			}
		}
	}
}

// Absolute content
@mixin abs-position($positions...) {
	@extend %pos-a;
	@include content-position($positions...);
}

// center position
@mixin center-position($top: 50%, $left: 50%) {
	@include content-position($top, null, null, $left);

	transform: translate(-#{$top}, -#{$left});
}

// flex position
@mixin flex-position($display: flex, $content: center, $items: center) {
	@extend %d-#{$display};

	justify-content: $content;
	align-items: $items;
}
