// ===========================
//	Visually Hidden Mixins
// ===========================

// Hide content visually while keeping it accessible
@mixin visually-hidden() {
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;

	// Fix for positioned table caption that could become anonymous cells
	&:not(caption) {
		position: absolute !important;
	}
}

// Use to only display content when it's focused
@mixin visually-hidden-focusable() {
	&:not(:focus):not(:focus-within) {
		@include visually-hidden();
	}
}
