// ===========================
//	Forms
// ===========================

legend {
	padding: 0.7rem 0;

	@extend %body-font-size;
}

label {
	font-size: 1.4rem;
	font-weight: normal;
}

textarea,
select,
input[type="text"],
input[type="url"],
input[type="number"],
input[type="email"],
input[type="button"],
input[type="reset"],
input[type="password"],
input[type="search"],
input[type="tel"] {
	box-shadow: none;
	border-radius: 0;
	border: 1px solid $color-border;
	padding: 0.8rem;
	background: transparent;

	&:focus {
		box-shadow: none;
		outline: 0;
		@extend .border-primary;
		@extend %outline-none;
	}

	@extend %outline-none;
	@extend %input-height;
	@extend .width-100;
	@extend .color-text;
	@extend .relative-content;
}

button,
input[type="submit"] {
	cursor: pointer;

	&:focus {
		@extend %outline-none;
	}
}

input {
	&[type="submit"] {
		border: 0;

		@extend %body-font-size;
		@extend %input-height;
		@extend %outline-none;
		@extend .text-center;
		@extend .color-white;
	}
}
