// ===========================
//	Global
// ===========================

:root {
	/* Default Colors */
	--#{$prefix}text-color: #242545;
	--#{$prefix}primary-color: #f93001;
	--#{$prefix}secondary-color: #404040;
	--#{$prefix}tertiary-color: #bfbfbf;
	--#{$prefix}offset-color: #f7f7f7;
	--#{$prefix}border-color: #dddddd;

	/* Default Fonts */
	--#{$prefix}body-font: 'Open Sans', sans-serif;
	--#{$prefix}heading-font: 'Open Sans', sans-serif;
	--#{$prefix}body-font-size: 1.6rem;
	--#{$prefix}body-line-height: 1.5;
	--#{$prefix}heading-line-height: 1.2;

	/* Default Spacings */
	--#{$prefix}column-gutter: 3rem;
	--#{$prefix}gutter: 3.125em;
	--#{$prefix}gutter-full: var(--#{$prefix}gutter);
	--#{$prefix}gutter-half: calc(var(--#{$prefix}gutter-full) / 2);
	--#{$prefix}gutter-expand-factor: 1.6;

	/* Default Transition */
	--#{$prefix}transition-all: all 0.7s cubic-bezier(0.2, 1, 0.22, 1);
	--#{$prefix}transition-property: all;
	--#{$prefix}transition-duration: 0.7s;
	--#{$prefix}transition-timing-function: cubic-bezier(0.2, 1, 0.22, 1);

	/* Box Shadow */
	--#{$prefix}box-shadow: 4px 4px 10px 4px rgba(204, 204, 204, 0.25);
	--#{$prefix}box-shadow-hover: 4px 4px 10px 4px rgba(204, 204, 204, 0.45);

	/* Containers */
	--#{$prefix}container-sm: 540;
	--#{$prefix}container-md: 720;
	--#{$prefix}container-lg: 960;
	--#{$prefix}container-xl: 1140;
	--#{$prefix}container-xxl: 1400;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@extend %text-color;
}

%box-sizing {
	box-sizing: border-box;
}

* {
	&::before,
	&::after {
		@extend %box-sizing;
	}

	@extend %box-sizing;
}
