// ===========================
//	Global
// ===========================

:root {
	/* Default Colors */
	--alsiha-text-color: #242545;
	--alsiha-primary-color: #f93001;
	--alsiha-secondary-color: #404040;
	--alsiha-tertiary-color: #bfbfbf;
	--alsiha-offset-color: #f7f7f7;
	--alsiha-border-color: #dddddd;

	/* Default Fonts */
	--alsiha-body-font: 'Open Sans', sans-serif;
	--alsiha-heading-font: 'Open Sans', sans-serif;

	/* Default Spacings */
	--alsiha-gutter: 3.125em;
	--alsiha-gutter-full: var(--alsiha-gutter);
	--alsiha-gutter-half: calc(var(--alsiha-gutter-full) / 2);
	--alsiha-gutter-expand-factor: 1.6;

	/* Default Transition */
	--alsiha-transition-all: all 0.7s cubic-bezier(0.2, 1, 0.22, 1);
	--alsiha-transition-property: all;
	--alsiha-transition-duration: 0.7s;
	--alsiha-transition-timing-function: cubic-bezier(0.2, 1, 0.22, 1);

	/* Box Shadow */
	--alsiha-box-shadow: 4px 4px 10px 4px rgba(204, 204, 204, 0.25);
	--alsiha-box-shadow-hover: 4px 4px 10px 4px rgba(204, 204, 204, 0.45);
}

/**************************************
SD01 Global - Basics & Utilities
**************************************/

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@extend %text-color;
}
