// ===========================
//	Media
// ===========================

figure,
iframe,
embed,
object,
select {
	@extend %max-width-100;
}

img {
	@extend .height-auto;
	@extend %max-width-100;
}

.image-in-bg {
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
}

.size-cover {
	background-size: cover;
}

.size-contain {
	background-size: contain;
}
