// ===========================
//	Structure
// ===========================

%heading-spacing {
	margin-top: 0;
	margin-bottom: 1em;
}

%text-layout {
	@extend %relative-position;
	@extend %overflow-hidden;

	word-wrap: break-word;
	overflow-wrap: break-word;
	hyphens: auto;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	@extend %heading-spacing;
}

p, ul, ol, dl, table {
	margin-top: 0;
	margin-bottom: 2.5rem;
}

table, th, td {
	border-width: 1px;
	border-style: solid;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 0.1rem 0 0 0.1rem;
	table-layout: fixed;

	@extend .width-100;
}

th, td {
	border-width: 0 0.1rem 0.1rem 0;
	padding: 0.7rem;
}

address, blockquote {
	margin: 0 0 2.5rem;
}

dd {
	margin-bottom: 1.5rem;
}

pre {
	padding: 2rem;
	margin-bottom: 2.5rem;
}

tt,
code {
	padding: 0.5rem;
	border-radius: 0.4rem;
}

* {
	&:focus {
		@extend %outline-none;
	}
}

a {
	&:hover {
		@extend %text-decoration-none;
		@extend %outline-none;
	}

	&:focus {
		@extend %text-decoration-none;
		@extend %outline-none;
	}

	&:active {
		@extend %text-decoration-none;
		@extend %outline-none;
	}

	@extend %outline-none;
	@extend %text-decoration-none;
}

button {
	&:hover {
		@extend %text-decoration-none;
	}

	&:focus {
		@extend %text-decoration-none;
	}

	&:active {
		@extend %text-decoration-none;
	}

	@extend %text-decoration-none;
}

section, .section {
	clear: both;
	float: none;

	@extend .width-100;
	@extend .mb-full;
}

section {
	p {
		&:last-child {
			@extend .mb-0;
		}
	}

	ol {
		&:last-child {
			@extend .mb-0;
		}
	}

	ul {
		&:last-child {
			@extend .mb-0;
		}
	}
}

.clearfix {
	@include clearfix();
}

ul,
ol {
	@extend .p-0;

	ul,
	ol {
		padding-left: 2rem;
	}

	li {
		padding-top: 0.3rem;
		padding-bottom: 0.3rem;
	}
}

ul {
	list-style: none;
}

ol {
	list-style-position: inside;
}

#colophon {
	@extend %text-layout;
}

.breadcrumb {
	span {
		@extend %text-layout;
	}
}

#page-title {
	h1 {
		@extend %text-layout;
	}
}

.site-content {
	@extend %text-layout;
}
