/**
 * Utility CSS.
 */
.shopbuilder-tag {
	font-size: 14px;
	line-height: 1;
	font-weight: 400;
	height: 27px;
	color: $color-black;
	padding: 0 13px;
	display: flex;
	justify-content: center;
	align-items: center;

	@include transition();
}

.rtsb-tag-fill {
	@extend .shopbuilder-tag;
	@extend .rtsb-white-color;
	@extend .rtsb-secondary-color-bg;

	border-radius: 3px;

	&.angle-left {
		clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 16% 50%, 0% 0%);
		padding-left: 18px;
	}

	&.angle-right {
		clip-path: polygon(100% 0%, 84% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
		padding-right: 18px;
	}
}

.rtsb-tag-outline {
	@extend .shopbuilder-tag;

	border: 1px solid $color-secondary;
	border-radius: 3px;
	height: 26px;

	&.angle-left {
		position: relative;
		border-left: none;
		padding-left: 22px;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;

		&::after {
			content: "";
			position: absolute;
			left: -8px;
			top: 50%;
			transform: translateY(-50%) rotate(-45deg);
			width: 18px;
			height: 18px;
			border: 1px solid $color-secondary;
			border-left: transparent;
			border-top: transparent;
			border-bottom-right-radius: 2px;
		}
	}

	&.angle-right {
		position: relative;
		border-right: none;
		padding-right: 22px;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;

		&::after {
			content: "";
			position: absolute;
			right: -8px;
			top: 50%;
			transform: translateY(-50%) rotate(-45deg);
			width: 18px;
			height: 18px;
			border: 1px solid $color-secondary;
			border-right: transparent !important;
			border-bottom: transparent !important;
			border-top-left-radius: 2px;
		}
	}
}

.rtsb-tag-text {
	@extend .shopbuilder-tag;

	padding: 0;
}

.rtsb-category-fill {
	@extend .shopbuilder-tag;

	border-radius: 3px;

	@extend .rtsb-secondary-color;
	@extend .rtsb-white-color;
}

.rtsb-category-outline {
	li {
		> a {
			@extend .shopbuilder-tag;

			border: 1px solid #d1d1d1;
			border-radius: 3px;
		}
	}
}

.rtsb-category-text {
	@extend .shopbuilder-tag;

	padding: 0;
}

.rtsb-color-variation-list,
.rtsb-category-list,
.rtsb-promotion-list {
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}

.rtsb-d-flex {
	@extend %d-flex;
}

.rtsb-flex-wrap {
	@extend %flex-wrap;
}

.rtsb-justify-content-center {
	@extend %justify-content-center;
}

.rtsb-justify-content-start {
	@extend %justify-content-start;
}

.rtsb-align-items-center {
	@extend %align-items-center;
}

.rtsb-align-items-start {
	@extend %align-items-start;
}

.rtsb-primary-color {
	@extend %primary-color;
}

.rtsb-primary-color-bg {
	@extend %primary-color-bg;
}

.rtsb-secondary-color {
	@extend %secondary-color;
}

.rtsb-secondary-color-bg {
	@extend %secondary-color-bg;
}

.rtsb-loader-color {
	@extend %loader-color;
}

.rtsb-white-color {
	@extend %white-color;
}

.rtsb-white-color-bg {
	@extend %white-color-bg;
}
.rtsb-black-color {
	@extend %black-color;
}

.rtsb-black-color-bg {
	@extend %black-color-bg;
}

.rtsb-default-gutter {
	@extend %default-gutter;
}

.rtsb-default-gutter-top {
	@extend %default-gutter-top;
}

.rtsb-gutter-half {
	@extend %gutter-half;
}

.rtsb-mb-0 {
	@extend %mb-0;
}

.rtsb-pos-s {
	@extend %pos-s;
}

.rtsb-pos-r {
	@extend %pos-r;
}

.rtsb-pos-a {
	@extend %pos-a;
}

.rtsb-el-section-w-100 {
	&.elementor-section {
		&.rtsb-align-items-start {
			> .elementor-container {
				width: 100%;
			}
		}
	}
}
