// ===========================
//	Utilities
// ===========================

%d-block {
	display: block;
}

%d-none {
	display: none;
}

%d-inline-block {
	display: inline-block;
}

%d-flex {
	display: flex;
}

%d-inline-flex {
	display: inline-flex;
}

%d-grid {
	display: grid;
}

%flex-wrap {
	flex-wrap: wrap;
}

%flex-nowrap {
	flex-wrap: nowrap;
}

%justify-content-center {
	justify-content: center;
}

%justify-content-start {
	justify-content: flex-start;
}

%justify-content-end {
	justify-content: flex-end;
}

%justify-content-around {
	justify-content: space-around;
}

%justify-content-between {
	justify-content: space-between;
}

%align-items-center {
	align-items: center;
}

%align-items-start {
	align-items: flex-start;
}

%align-items-end {
	align-items: flex-end;
}

%flex-center {
	@extend %d-flex;
	@extend %justify-content-center;
	@extend %align-items-center;
}

%static-position {
	position: static !important;
}

%relative-position {
	position: relative;
}

%absolute-position {
	position: absolute;
}

%fixed-position {
	position: fixed;
}

%text-left {
	text-align: left;
}

%text-center {
	text-align: center;
}

%text-right {
	text-align: right;
}

%mt-full {
	margin-top: $gutter-full;
}

%mb-full {
	margin-bottom: $gutter-full;
}

%mt-half {
	margin-top: $gutter-half;
}

%mb-half {
	margin-bottom: $gutter-half;
}

%pt-full {
	padding-top: $gutter-full;
}

%pb-full {
	padding-bottom: $gutter-full;
}

%pt-half {
	padding-top: $gutter-half;
}

%pb-half {
	padding-bottom: $gutter-half;
}

%pl-half {
	padding-left: $gutter-half;
}

%pr-half {
	padding-right: $gutter-half;
}

%p-0 {
	padding: 0;
}

%m-0 {
	margin: 0;
}

%mb-0 {
	margin-bottom: 0;
}

%pb-0 {
	padding-bottom: 0;
}

%mr-0 {
	margin-right: 0;
}

%pr-0 {
	padding-right: 0;
}

%ml-0 {
	margin-left: 0;
}

%pl-0 {
	padding-left: 0;
}

%width-100 {
	width: 100%;
}

%width-auto {
	width: auto;
}

%height-100 {
	height: 100%;
}

%height-auto {
	height: auto;
}

%max-width-100 {
	max-width: 100%;
}

%input-height {
	height: $input-height;
}

%outline-none {
	outline: 0 none;
}

%text-decoration-none {
	text-decoration: none;
}

@include generate-gutter-utilities();
@include generate-dimension-utility();
@include generate-position-utilities();
@include generate-text-alignment();
@include generate-display-utilities();
@include generate-flexbox-utilities();
@include generate-list-inline();
@include generate-responsive-utilities();

.flex-center {
	@extend %flex-center;
}

.alsiha-dropcap {
	p {
		&:first-of-type {
			&:first-letter {
				@extend .color-primary;

				float: left;
				font-size: 75px;
				line-height: 60px;
				padding: 10px 15px 13px;
				color: #fff;
				margin-right: 15px;
				margin-top: 8px;
				border-radius: 3px;
			}
		}
	}
}
