// ===========================
//	Utilities
// ===========================

.d-block {
	@extend %d-block;
}

.d-ib {
	@extend %d-ib;
}

.d-flex {
	@extend %d-flex;
}

.flex-wrap {
	@extend %flex-wrap;
}

.justify-content-center {
	@extend %justify-content-center;
}

.justify-content-start {
	@extend %justify-content-start;
}

.align-items-center {
	@extend %align-items-center;
}

.align-items-start {
	@extend %align-items-start;
}

.flex-center {
	@extend %flex-center;
}

.mb-full {
	@extend %mb-full;
}

.mt-full {
	@extend %mt-full;
}

.mb-half {
	@extend %mb-half;
}

.mt-half {
	@extend %mt-half;
}

.pb-full {
	@extend %pb-full;
}

.pt-full {
	@extend %pt-full;
}

.pb-half {
	@extend %pb-half;
}

.pt-half {
	@extend %pt-half;
}

.m-0 {
	@extend %m-0;
}

.mb-0 {
	@extend %mb-0;
}

.static-content {
	@extend %pos-s;
}

.relative-content {
	@extend %pos-r;
}

.abs-content {
	@extend %pos-a;
}

.width-100 {
	@extend %width-100;
}

.width-auto {
	@extend %width-auto;
}

.height-100 {
	@extend %height-100;
}

.height-auto {
	@extend %height-auto;
}

.text-center {
	@extend %text-center;
}

.alsiha-dropcap {
	p {
		&:first-of-type {
			&:first-letter {
				@extend .color-primary;

				float: left;
				font-size: 75px;
				line-height: 60px;
				padding: 10px 15px 13px;
				color: #fff;
				margin-right: 15px;
				margin-top: 8px;
				border-radius: 3px;
			}
		}
	}
}
