// ===========================
//	WordPress Defaults
// ===========================

@use "sass:math";

.alignleft,
img.alignleft {
	float: left;
	margin: 0.5rem 1.5rem 1.5rem 0;
}

.alignright,
img.alignright {
	float: right;
	margin: 0.5rem 0 1.5rem 1.5rem;
}

.aligncenter,
img.aligncenter {
	@extend .d-block;

	float: none;
	margin: 0 auto 3rem;
}

.alignnone,
img.alignnone {
	margin: 0.5rem 2rem 2rem 0;
}

.wp-caption {
	@extend %max-width-100;
	@extend .bgc-offset;
	@extend .text-center;
	@extend .p-0;

	margin-bottom: 2.5rem;

	&.alignnone {
		margin: 0 0 3rem;
	}

	&.alignleft {
		margin: 0.5rem 2rem 2rem 0;
	}

	&.alignright {
		margin: 0.5rem 0 2rem 2rem;
	}

	img {
		@extend .height-auto;
		@extend .width-auto;
		@extend .m-0;
		@extend %max-width-100;
		@extend %outline-none;
		@extend %p-0;
	}

	p.wp-caption-text {
		@extend %m-0;
		@extend %body-line-height;

		font-size: 1.1rem;
		padding: 0.8rem;
	}
}

.wp-caption-text {
	@extend .bgc-offset;
	@extend .text-center;

	padding: 0.5rem 1.0rem;
	font-size: 1.4rem;
}

.gallery-caption {
}

.bypostauthor {
}

.sticky {
}

blockquote,
.wp-block-quote {
	@extend %body-line-height;

	padding: 2rem;
	border-left: 0.4rem solid $color-primary;

	p:last-child {
		@extend .mb-0;
	}

	footer {
		margin-top: 2rem;
	}

	cite {
		@extend .d-block;

		margin-top: 1.5rem;
		font-weight: bold;
	}
}

.gallery-item {
	@extend .d-inline-block;
	@extend .width-100;

	text-align: left;
	vertical-align: top;
	margin: 0 0 1.5rem;
	padding: 0 1.5rem 0 0;

	& a img {
		@extend .d-block;
		@extend .width-100;
		backface-visibility: hidden;
		transition: all 0.2s ease-in;

		&:hover,
		&:focus {
			opacity: 0.6;
		}
	}

	@for $i from 2 through 12 {
		.gallery-columns-#{$i} & {
			max-width: math.div(100%, $i);
		}
	}
}

#comments {
	.comment-author.vcard {
		flex: 0 0 110px;
		max-width: 110px;
		padding-right: 20px;

		img {
			@extend %max-width-100;

			padding: 3px;
			border-radius: 50%;
			border: 1px solid $color-border;
		}
	}

	.comment-info {
		@extend .relative-content;

		padding: 1.5rem 2rem;
	}

	.comment-content {
		@extend .width-100;
		@extend .bgc-offset;
		@extend .relative-content;

		padding: 2rem;

		.fn {
			@extend .d-inline-block;

			font-weight: 700;
			text-transform: capitalize;
			margin-bottom: 0.5rem;
			font-style: normal;

			> a {
				@extend .color-text;
			}
		}
	}

	.comment-list {
		@extend %p-0;

		li.pingback,
		li.comment {
			list-style-type: none;
			margin-bottom: 2rem;
		}

		.media {
			margin-bottom: 3rem;
		}
	}

	.comment-meta {
		@extend .d-flex;

		font-size: 1.4rem;
		text-align: right;
		justify-content: flex-end;
		margin-top: 2rem;

		> a {
			margin-right: 0.5rem;
		}
	}

	.comments-area {
		.comment-meta .comment-reply a::before {
			@extend .relative-content;

			content: "\f0da";
			font-family: 'Font Awesome 5 Free';
			font-weight: 900;
			padding-right: 0.5rem;
			margin-left: 0.5rem;

			@include content-position(0, null, null, 0);
		}

		.children {
			@extend .width-100;
			@extend .mb-0;

			overflow: hidden;
			padding-top: 2rem;
			padding-left: 1rem;
		}
	}

	#commentform {
		@extend .relative-content;

		fieldset {
			@extend .relative-content;

			clear: both;
		}

		textarea {
			@extend .width-100;
			@extend .d-block;

			height: 150px;
			padding: 10px;
		}

		input[type="text"],
		input[type="email"] {
			@extend .width-100;

			padding: 1rem;
		}

		#comment-error,
		#author-error,
		#email-error,
		#url-error {
			@extend .absolute-content;

			bottom: -10px;
		}

		.comment-form-comment {
			margin-bottom: 2rem;
		}

		.comment-form-author,
		.comment-form-email,
		.comment-form-url {
			margin-bottom: 2rem;
		}

		p.form-submit {
			margin-bottom: 3rem;
		}

		.moderation-notice {
			text-align: right;
		}
	}

	.comment-navigation {
		margin-top: $gutter-half;

		.nav-links {
			@extend .d-flex;

			justify-content: space-between;
		}

		& + .comment-respond,
		.comment-list + .comment-respond,
		.pagination-container + .row #comments,
		.page-entry-content + #comments {
			margin-top: $gutter-full;
		}
	}

	.comment-form-cookies-consent {
		margin-bottom: 2.5rem;
	}

	.comment-reply-title small {
		margin-left: 3rem;

		@extend %body-font-size;
	}
}
