/**
 * Module: Quick View
 */
.rtsb-quick-view-btn {
	&:focus {
		outline: none;
	}
}

#rtsb-modal {
	.rtsb-modal-body {
		padding: 10px;
	}

	div.images {
		width: 40%;
		float: left;
		opacity: 1 !important;
		margin: 0;
	}

	div.summary {
		margin: 0;
		padding: 15px;
		width: 60%;
		float: left;
		font-size: inherit;
	}

	div.woocommerce-product-rating {
		&:after, &:before {
			content: '';
			display: table;
			clear: both;
		}

		a.woocommerce-review-link {
			display: none;
		}
	}

	.onsale {
		top: 5px;
		right: auto;
		left: 5px;
	}

	figure.woocommerce-product-gallery__wrapper {
		> div:not(:first-child) {
			display: none;
		}
	}
}

// Variation gallery Support.
.rtsb-ui-modal{
	.rtsb-modal-wrapper.quick-view-modal {
		.rtsb-modal-content{
			.rtsb-modal-close{
				width:30px;
				height:30px;
			}
			.rtsb-modal-body {
				padding: 40px 30px;
				//&.rtsb-build-with-elementor{
				//	padding:0;
				//}
				.rtwpvg-product {
					display: flex;
					flex-wrap: wrap;
				}
				.rtwpvg-images {
					max-width: 45%;
				}

				.summary {
					max-width: 55%;
					width: 100%;
					padding-left: 30px;

					@media(max-width:767px){
						padding-left:0;
						margin-top:20px;
						max-width:100%;
					}
					.product_title{
						font-size:36px;
						margin-bottom:10px;
						font-weight:inherit;
						color:#000719;
					}
					.price{
						margin-top:0;
						margin-bottom: 10px;
						line-height:1.2;
						font-weight:500;
						color:#000719;
						.woocommerce-Price-amount{
							font-size:24px;
						}
						del{
							opacity:.5;
						}
					}
					.woocommerce-product-details__short-description {
						p {
							margin: 20px 0;
						}
					}
					.stock.in-stock{
						margin-bottom: 20px!important;
					}
					.rtsb-social-share{
						.rtsb-share-btn{
							padding:10px;
							svg{
								width:15px;
								height:15px;
							}
						}
					}
					.cart{
						margin-bottom:20px;
						padding:0;
					}
					.quantity{
						.qty{
							width:6rem;
						}
					}
					.single_add_to_cart_button{
						margin-top:0;
						margin-bottom:0px;
						min-height:42px;
						padding:12px 24px;
						@extend %primary-color-bg;
						@extend %white-color;
						&:hover{
							@extend %secondary-color-bg;
						}
						&:focus{
							outline:0;
						}
					}
				}

				.elementor {
					.rtwpvg-images{
						max-width: 100%;
					}
				}

			}
			.product{
				display:flex;
				overflow:unset;
				@media(max-width:767px){
					flex-direction:column;
				}

			}
			.quantity{
				margin-bottom:0;
			}
			.woocommerce-product-rating{
				margin-top:0;
				margin-bottom:10px;
			}
			.woocommerce-product-gallery{
				margin-right:0;
				margin-bottom:0;
			}
			.product_meta{
				padding-top:0;
				border-top:0;
				margin-bottom: 20px;
				> span{
					@extend %d-inline-flex;
					margin-right:5px;

				}
			}
			.onsale{
				top:15px;
				left:15px;
				line-height: 1;
				position:absolute;
				z-index:11;
				min-width:unset;
				min-height:unset;
				width:auto;
				height:auto;
				border-radius:initial;
				padding:10px 15px;
				@extend %d-inline-flex;
				@extend %justify-content-center;
				@extend %align-items-center;
			}
		}
		.star-rating{
			span:before{
				color:#FCB428;
			}
		}
	}

	// Default Gallery Widgets.
	//.rtsb-gallery-images-wrapper{
	//	display: flex;
	//	flex-wrap: wrap;
	//	margin-top: 10px;
	//	gap: 10px;
	//	.woocommerce-product-gallery__image{
	//		flex: 0 0 23%;
	//		max-width: 23%;
	//	}
	//}

	.quick-view-product-wrapper{
		.elementor-widget-rtsb-product-image{
			.woocommerce-product-gallery{
				width: 100%;
			}
		}
	}

}

@media(max-width: 480px) {
	#rtsb-modal div.images,
	#rtsb-modal div.summary {
		width: 100%;
		float: none;
	}

	#rtsb-modal div.summary {
		margin: 0;
		padding: 15px;
		width: 100%;
		float: left;
	}
}
