#customize-controls {
	.customize-control {
		padding-bottom: 20px;
		border-bottom: 1px solid #ddd;
		margin-bottom: 15px;
	}
	div.customize-section-description {
		font-size: 14px;
		font-weight: 500;
		padding: 10px 10px 10px 15px;
		padding-top: 10px;
		background: #fff;
		border-left: 4px solid #2271b1;
		line-height: 1.4;
		margin-bottom: 20px;
		text-transform: capitalize;
	}
	.customize-control.customize-control-kirki-generic.customize-control-has-small-gap {
		margin-top: 10px;
		padding-bottom: 0;
		border: 0;
	}
	.customize-control.customize-control-kirki-color {
		padding-bottom: 12px;
		margin-bottom: 12px;
	}
	.accordion-section-content {
		.customize-control {
			&:last-child {
				border-bottom: 0;
				padding-bottom: 0;
			}
		}
	}
	.attachment-media-view.attachment-media-view-image {
		margin-bottom: 12px;
	}
	.customize-control-kirki-radio-image {
		img {
			margin-right: 10px;
			border: 1px solid #ccc;
		}
	}
	.select2-container--default {
		.select2-selection--multiple {
			min-height: 30px;
			border-radius: 4px;
			border: 1px solid #7e8993;
		}
		.select2-selection--single {
			min-height: 30px;
			border-radius: 4px;
			border: 1px solid #7e8993;
		}
	}
	.wp-picker-container {
		input[type=text].wp-color-picker {
			width: 65px;
			height: auto;
		}
	}
	.customize-control-kirki-typography {
		.wrapper {
			margin-top: 15px;
		}
	}
	.kirki-host-font-locally {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#sub-accordion-section-custom_css {
		div.customize-section-description {
			font-size: 13px;
			font-weight: 400;
			border-bottom: 0;
		}
	}
	.control-section {
		.accordion-section-title {
			&::before {
				vertical-align: bottom;
				margin-right: 10px;
			}
		}
	}
	.date-time-fields {
		.date-input.day {
			width: 46px;
		}
		.date-input.hour {
			width: 46px;
		}
		.date-input.minute {
			width: 46px;
		}
		.date-input.year {
			width: 60px;
		}
	}
	.customize-control.customize-control-kirki-editor {
		iframe {
			height: 220px !important;
		}
		.wp-media-buttons {
			display: none;
		}
	}
}
