// ================================
//	Admin Variables.
// ================================

$admin-color-primary: var(--sigma-admin-color-primary);
$admin-color-primary-hover: var(--sigma-admin-color-primary-hover);
$admin-color-secondary: var(--sigma-admin-color-secondary);
$admin-color-secondary-hover: var(--sigma-admin-color-secondary-hover);
$admin-color-elementor: var(--sigma-admin-color-elementor);
