// ===========================
//	Component: Portfolio Item
// ===========================

:is(.sigma-portfolio-grid, .sigma-products-grid) {
	.portfolio-item {
		.portfolio-content {
			@extend %overflow-hidden;
			@extend %relative-position;
		}

		.grid-overlay {
			@include abs-position(0, null, null, 0);
			@include transition(opacity 0.35s, transform 0.35s);
			@extend %height-100;
			@extend %width-100;

			@include respond-to(md, true) {
				background-color: rgba(205, 141, 44, 0.6);
				opacity: 0;
				transform: scale(0.8, 0.8);
			}
		}

		.portfolio-title {
			@include abs-position(auto, null, 0, 0);
			@include transition(opacity 0.25s, transform 0.25s);
			@extend %white-color;
			@extend %height-auto;
			@extend %width-100;
			@extend %text-center;

			@include respond-to(md, true) {
				top: 0;
				bottom: auto;
				height: 100%;
				opacity: 0;
				transform: scale(1.2);
			}

			> h3 {
				@include flex-position();
				@extend %height-100;
				@extend %m-0;

				font-size: 1.6rem;
				letter-spacing: -0.03em;
				background-color: rgba(0, 0, 0, 0.6);
				padding: 2rem;

				@include respond-to(md, true) {
					font-size: 2.6rem;
					background-color: transparent;
					padding: 3rem 2rem;
				}
			}
		}

		.portfolio-anchor {
			@extend %d-flex;

			&:hover {
				.grid-overlay {
					opacity: 1;
					transform: rotate(0deg);
					transition-duration: .25s;
				}

				.portfolio-title {
					opacity: 1;
					transform: scale(1);
					transition-delay: .2s;
				}
			}

			> .portfolio-img {
				@extend %width-100;
			}
		}
	}
}

.alsihaFadeInUp {
	animation: alsihaFadeInUp;
}


