/**
 * Component: Preloader.
 */
.rtsb-elementor-container {
	//.ttp-pre-loader {
	//	overflow: hidden;
	//
	//	@extend .rtsb-pos-r;
	//}

	//.rtsb-pre-loader {
	&.element-loading {
		.rtsb-spinner-overlay,
		.rtsb-elements-loading {
			opacity: 1;
		}
	}

	.ajax-loading {
		//transform: translate3d(0, 20px, 0);
		//top: 20px;
		opacity: 0;
		visibility: hidden;
		//animation: none;
	}

	.ajax-loaded {
		transform: none;
		//top: 0;
		//opacity: 0;
		//visibility: hidden;
	}

	//}

	//.rtsb-spinner-overlay {
	//	opacity: 0.85;
	//	visibility: visible;
	//
	//	& + .rtsb-elements-loading {
	//		opacity: 0.85;
	//		visibility: visible;
	//	}
	//
	//	&.full-op {
	//		opacity: 1;
	//
	//		& + .rtsb-elements-loading {
	//			opacity: 1;
	//		}
	//	}
	//}
	//
	//.rtsb-spinner-overlay {
	//	opacity: 0;
	//	visibility: hidden;
	//	position: absolute;
	//	transition: all 0.5s;
	//	top: 0;
	//	left: -30px;
	//	width: calc(100% + 60px);
	//	height: 100%;
	//	z-index: 49;
	//	//background-color: #fff;
	//}

	.rtsb-elements-loading {
		position: absolute;
		top: 120px;
		left: 50%;
		margin-left: -16px;
		margin-top: -16px;
		z-index: 50;
		//opacity: 0;
		//visibility: hidden;

		@extend .rtsb-loader-color;
	}

	&[data-layout*="carousel"] {
		.rtsb-elements-loading {
			z-index: 100;
		}

		.rtsb-spinner-overlay {
			z-index: 99;
		}

		.ttp-pre-loader {
			.rtsb-spinner-overlay {
				opacity: 1;
			}
		}
	}

	.rtsb-pre-loader {
		&.rtsb-lm-loading {
			.rtsb-spinner-overlay {
				display: none;

				& + .rtsb-elements-loading {
					display: none;
				}
			}
		}

		opacity: 0;
		@extend %transition;

		&.reduced-opacity {
			opacity: 0.3;
			filter: grayscale(1);

			&.exiting {
				opacity: 1;
				filter: grayscale(0);
			}
		}
	}

	//.reduced-opacity {
	//	opacity: 0.3 !important;
	//	filter: grayscale(1);
	//}

	[class*=category-single] {
		.rtsb-elements-loading {
			opacity: 0 !important;
		}
	}
}

.product-loading {
	@extend .rtsb-pos-r;

	.rtsb-elements-loading {
		position: absolute;
		top: 120px;
		left: 50%;
		margin-left: -16px;
		margin-top: -16px;
		z-index: 50;

		@extend .rtsb-loader-color;
	}

	&.rtsb-pre-loader {
		> div,
		ul {
			&:first-child {
				opacity: 0.3;
				filter: grayscale(1);

				@include transition();
			}
		}

		.products {
			opacity: 0.3;
			filter: grayscale(1);

			@include transition();
		}

		&.loading-success {
			> div,
			ul {
				&:first-child {
					opacity: 1;
					filter: grayscale(0);
				}
			}

			.products {
				opacity: 1;
				filter: grayscale(0);
			}
		}
	}
}
