/**
 * Component: Archive Catalog.
 */
.woocommerce .rtsb-archive-result-count p,
.woocommerce .rtsb-archive-catalog-ordering .woocommerce-ordering {
	margin: 0;
	margin-bottom: 0 !important;
	padding: 0;
	float: initial;
	display: inline-block;

	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		background: transparent;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDE1IDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik03LjUxOTUxIDlDNy4xNjg0IDkgNi44NTYzMSA4Ljg3OTMzIDYuNjIyMjQgOC42Mzc5OUwwLjM4MDM2NCAyLjIwMjIzQy0wLjEyNjc4OCAxLjcxOTU1IC0wLjEyNjc4OCAwLjg3NDg2IDAuMzgwMzY0IDAuMzkyMTc5QzAuODQ4NTA1IC0wLjEzMDcyNiAxLjY2Nzc1IC0wLjEzMDcyNiAyLjEzNTg5IDAuMzkyMTc5TDcuNTE5NTEgNS45MDI3OUwxMi44NjQxIDAuMzkyMTc5QzEzLjMzMjMgLTAuMTMwNzI2IDE0LjE1MTUgLTAuMTMwNzI2IDE0LjYxOTYgMC4zOTIxNzlDMTUuMTI2OCAwLjg3NDg2IDE1LjEyNjggMS43MTk1NSAxNC42MTk2IDIuMjAyMjNMOC4zNzc3NiA4LjYzNzk5QzguMTQzNjkgOC44NzkzMyA3LjgzMTYgOSA3LjUxOTUxIDlaIiBmaWxsPSIjMzIzODQ2Ii8+Cjwvc3ZnPgo=");
		background-repeat: no-repeat;
		background-size: 11px;
		background-position-x: calc(100% - 17px);
		background-position-y: 50%;
		border: 1px solid #C5C9DB;
		border-radius: 2px;
		padding: 0 20px;
		text-transform: capitalize;
		color: #323846;
		outline: none;
	}
}

.rtsb-product-catalog .woocommerce-pagination > .page-numbers {
	&::before,
	&::after {
		content: none !important;
	}
}

.rtsb-product-catalog .woocommerce-pagination {
	display: flex;
	flex-wrap: wrap;

	> .page-numbers {
		display: flex;
		flex-wrap: wrap;

		* {
			margin: 0;
		}
	}

	.page-numbers:not(ul,div) {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
		@include transition();
	}
}

.elementor-widget-rtsb-archive-product-mode {
	text-align: right;
}

.rtsb-archive-view-mode {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 5px;

	a {
		width: 40px;
		height: 40px;
		border: 1px solid #C5C9DB;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background: #fff;
		color: #323846;
		outline: 0;
		@include transition();

		&.active {
			border-color: $color-primary;

			@extend .rtsb-primary-color-bg;
			@extend .rtsb-white-color;
		}
	}
}

.rtsb-product-catalog {
	.products {
		display: flex;
		flex-wrap: wrap;
		margin-left: 0;
		margin-right: 0;

		&::before,
		&::after {
			content: none !important;
		}

		.product {
			display: flex;
			flex-direction: column;
			margin-bottom: 0 !important;

			.rtsb-image-wrapper {
				img {
					margin-bottom: 0;
				}
			}
		}

		.woocommerce-no-products-found {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}

	.woocommerce-info {
		@extend .rtsb-primary-color-bg;
	}

	.rtsb-image-wrapper {
		flex: 1;
		max-width: 100%;
		position: relative;

		img {
			width: 100%;
			margin: 0;
		}
	}

	.rtsb-product-content {
		flex: 1;
		max-width: 100%;

		.add_to_cart_button {
			transition: all 0.3s;

			svg {
				path {
					transition: none;
				}
			}

			+ .added_to_cart {
				&.wc-forward {
					display: flex;
					max-width: 145px;
					justify-content: center;
					margin: 10px auto 0;
					border-radius: 5px;
				}
			}
		}
	}

	&.product-catalog-list-view {
		.products {
			.product {
				.rtsb-image-wrapper {
					margin-right: 20px;
				}

				margin-right: 0 !important;

				&:not(.ast-grid-common-col) {
					width: 100% !important;
					flex-direction: row;
				}

				img {
					// margin-bottom: 0;
				}
			}
		}

		.rtsb-product-content {
			text-align: left;
		}

	}

	&.product-catalog-grid-view {
		.products {
			.product {
				.rtsb-image-wrapper {
					margin-bottom: 20px;
				}

				margin: 0 !important;
				padding: 0 !important;
			}
		}
	}
}
