/**
 * Component: List.
 */

.alsiha-list {
	ul {
		li {
			@extend .relative-content;
			padding: 0;

			a {
				@extend .d-inline-block;

				padding-top: 5px;
				padding-bottom: 5px;
				margin-bottom: 5px;
				width: auto !important;
				font-weight: 500;

				@extend .color-text;
			}
		}
	}
}

