/**
 * Component: Slider Nav.
 */

.rtsb-elementor-container {
	.rtsb-carousel-slider {
		.swiper-arrow {
			width: 30px;
			height: 30px;
			line-height: 30px;
			text-align: center;
			transition: all 0.3s;
			background-image: none;

			@extend .rtsb-primary-color-bg;
			@extend .rtsb-white-color;

			&::after {
				content: none !important;
			}

			&:hover {
				@extend .rtsb-secondary-color-bg;
			}

			i {
				color: inherit;
			}
		}

		.swiper-nav {
			transition: opacity 0.3s;
		}
		&:hover {
			&.standard-nav {
				.swiper-nav {
					@media only screen and (min-width: 1200px) {
						opacity: 1;
						visibility: visible;

						.swiper-arrow {
							&.swiper-button-next {
								right: 0;
							}

							&.swiper-button-prev {
								left: 0;
							}
						}
					}
				}
			}
		}

		&.standard-nav {
			.swiper-nav {
				@media only screen and (min-width: 1200px) {
					opacity: 0;
					visibility: hidden;
				}
			}
		}

		&.standard-nav:hover {
			.swiper-nav {
				opacity: 1;
				visibility: visible;
			}
		}

		&.standard-nav:hover{
			.rtsb-gallery-slider{
				> .swiper-nav {
					opacity: 0;
					visibility:hidden;
				}
			}
		}
		.rtsb-slide-item{
			&:hover{
				.rtsb-gallery-slider{
					.swiper-nav {
						opacity: 1;
						visibility:visible;
					}
				}
			}

		}

		&.top-nav {
			.swiper-nav {
				position: absolute;
				right: 0;
				top: -30px;
			}

			.swiper-button-next {
				right: 15px;
			}

			.swiper-button-prev {
				left: -85px;
			}

			//&.swiper-rtl {
			//	.swiper-nav {
			//		right: auto;
			//		left: 85px;
			//	}
			//
			//	.swiper-button-prev {
			//		right: 15px;
			//		left: auto;
			//	}
			//
			//	.swiper-button-next {
			//		left: -85px;
			//		right: auto;
			//	}
			//}
		}

		&.standard-nav {
			.swiper-nav {
				position: absolute;
				top: calc(50% - 25px);
				//margin-top: -30px;
				width: 100%;
				z-index: 10;

				.swiper-arrow {
					top: 7.5px;

					@media only screen and (max-width: 576px) {
						top: auto;
					}
				}

				.swiper-button-next {
					right: 15px;
				}

				.swiper-button-prev {
					left: 15px;
				}
			}
		}

		&.bottom-nav {
			padding-bottom: 30px !important;

			.swiper-nav {
				position: absolute;
				left: 50%;
				bottom: 5px;
				transform: translateX(-50%);

				.swiper-button-next {
					right: auto;
					left: 5px;
				}

				.swiper-button-prev {
					left: auto;
					right: 5px;
				}

				//+ {
				//	.swiper-pagination {
				//		margin-top: 40px;
				//	}
				//}
			}

			&.has-dot {
				.swiper-nav {
					@media only screen and (min-width: 768px) {
						bottom: -15px;
					}
				}
			}

			&.no-dots {
				margin-bottom: 40px;

				.swiper-nav {
					bottom: 20px;
				}

				&.no-nav {
					margin-bottom: 0;
				}
			}
		}
	}
}

@media only screen and (max-width: 576px) {
	//.rtsb-elementor-container .rtsb-carousel-slider.standard-nav .swiper-nav,
	.rtsb-elementor-container .rtsb-carousel-slider.top-nav .swiper-nav {
		//top: 25px;
		right: auto;
		left: 50%;
		margin-top: 0;
		width: auto;
		transform: translateX(-50%);
		z-index: 11;
	}
	.rtsb-elementor-container .rtsb-carousel-slider .swiper-nav .swiper-button-next {
		right: -35px;
	}
	.rtsb-elementor-container .rtsb-carousel-slider.standard-nav .swiper-nav .swiper-button-next {
		right: 8px;
		left: auto;
	}
	.rtsb-elementor-container .rtsb-carousel-slider .swiper-nav .swiper-button-prev {
		left: -35px;
	}
	.rtsb-elementor-container .rtsb-carousel-slider.standard-nav .swiper-nav .swiper-button-prev {
		left: 8px;
		right: auto;
	}
}
