/**
 * Component: Grid System.
 */
.rtsb-elementor-container {
	.rtsb-row {
		display: grid;
		grid-template-columns: repeat(var(--rtsb-default-columns), minmax(0, 1fr));

		&[class*="slider-layout"] {
			display: block;
		}
	}

	[class*="rtsb-col-"] {
		@extend %column-default;
		padding-top: 0;
		padding-bottom: 0;
	}

	//@for $i from 1 through 12 {
	//	.rtsb-col-xs-#{$i} {
	//		flex: 0 0 calc($i * 100% / 12);
	//		max-width: calc($i * 100% / 12);
	//	}
	//}
	//
	//@media only screen and (min-width: 768px) {
	//	.rtsb-col-sm-24 {
	//		flex: 0 0 20%;
	//		max-width: 20%;
	//	}
	//
	//	@for $i from 1 through 12 {
	//		.rtsb-col-sm-#{$i} {
	//			flex: 0 0 calc($i * 100% / 12);
	//			max-width: calc($i * 100% / 12);
	//		}
	//	}
	//}
	//
	//@media only screen and (min-width: 992px) {
	//	.rtsb-col-md-24 {
	//		flex: 0 0 20%;
	//		max-width: 20%;
	//	}
	//
	//	@for $i from 1 through 12 {
	//		.rtsb-col-md-#{$i} {
	//			flex: 0 0 calc($i * 100% / 12);
	//			max-width: calc($i * 100% / 12);
	//		}
	//	}
	//}
	//
	//@media only screen and (min-width: 1200px) {
	//	.rtsb-col-lg-24 {
	//		flex: 0 0 20%;
	//		max-width: 20%;
	//	}
	//
	//	@for $i from 1 through 12 {
	//		.rtsb-col-lg-#{$i} {
	//			flex: 0 0 calc($i * 100% / 12);
	//			max-width: calc($i * 100% / 12);
	//		}
	//	}
	//}
}
