/**
 * Component: Media.
 */

.alsiha-image {
	a {
		img {
			@extend .width-100;
			@extend .height-100;
			@extend %max-width-100;

			object-fit: cover;
			transform: scale(1.00);

			@include transition();
		}

		&:hover img {
			transform: scale3d(1.1, 1.1, 1);
		}
	}
}
