// ===========================
//	Component: Showcase Slider
// ===========================

.sigma-showcase-slider {
	@extend .bgc-black;

	.slider-content {
		@extend %relative-position;

		z-index: 1;
	}

	.swiper-slide {
		@extend %overflow-hidden;
	}

	.img-container {
		//@include abs-position(0, 0, null, 0);
		@extend %d-flex;
		@extend %justify-content-center;
		@extend %align-items-center;
		@extend %width-100;
		@extend %height-100;
		@extend %m-auto;
	}

	.hero-banner {
		@include background-content(no-repeat, center center, scroll, cover);
		@extend %width-100;

		height: 300px;

		@include respond-to(md, true) {
			height: calc(100vh - 120px);
		}
	}

	.swiper {
		.preloader {
			@include abs-position(0, null, null, 0);
			@extend %height-100;
			@extend %width-100;
			@extend .bgc-black;

			z-index: 999;

			.slider-preloader {
				@include abs-position(50%, null, null, 50%);
				@include box-size(30px, false);

				opacity: 1;
				margin-top: -15px;
				margin-left: -15px;
				border-top: 1px solid #efefef;
				border-bottom: 1px solid #333;
				border-left: 1px solid #efefef;
				border-right: 1px solid #333;
				border-radius: 50%;
				animation: alsihaSpin .5s linear infinite;
				text-align: center;
			}
		}
	}

	.swiper-nav {
		.swiper-arrow {
			@include transition();
			@extend .color-primary;
			font-weight: 900;

			&::after {
				font-size: 2.4rem;
				-webkit-text-stroke: 0.2rem;

				@include respond-to(md, true) {
					font-size: 3.6rem;
				}
			}

			&:hover {
				@extend .color-secondary;
			}

			&.swiper-button-next {
				right: 1.5rem;

				@include respond-to(md, true) {
					right: -3rem;
				}
			}

			&.swiper-button-prev {
				left: 1.5rem;

				@include respond-to(md, true) {
					left: -3rem;
				}
			}
		}
	}

	.swiper-pagination {
		@include transition();
		@extend .d-flex;
		@extend .justify-content-center;
		@extend .align-items-end;

		bottom: 30px !important;
		height: 40px;
		opacity: 0;

		@include respond-to(md, true) {
			opacity: 0;
		}

		.swiper-pagination-bullet {
			@include transition();
			@extend .bgc-white;
			height: 30px;
			border-radius: 4px;
			width: 5px;
			opacity: 0.7;

			&.swiper-pagination-bullet-active {
				@extend .bgc-primary;
				height: 40px;
				width: 6px;
				opacity: 1;
			}
		}
	}

	&:hover {
		.swiper-arrow {
			&.swiper-button-next {
				right: 1.5rem;
			}

			&.swiper-button-prev {
				left: 1.5rem;
			}
		}

		.swiper-pagination {
			opacity: 0;

			@include respond-to(md, true) {
				opacity: 1;
			}
		}
	}
}
