/**
 * Component: Slider.
 */
.rtsb-elementor-container {
	.img-responsive.swiper-lazy {
		&:not(.swiper-lazy-loaded) {
			visibility: hidden;
			opacity: 0;
		}
	}

	.swiper-lazy-preloader {
		&::after {
			background: none;
		}
	}
	.always-show-nav{
		.rtsb-carousel-slider.standard-nav{
			> .swiper-nav{
				opacity:1;
				visibility:visible;
				.swiper-button-next{
					right:0;
				}
				.swiper-button-prev{
					left:0;
				}
			}
		}
	}
	.inner-slider-always-show-nav{
		.product-gallery.rtsb-gallery-slider{
			 .swiper-nav{
				opacity:1!important;
				visibility:visible!important;
				 .swiper-arrow{
					 opacity:1;
					 visibility:visible;
					 -webkit-transform: scale(1);
					 transform: scale(1);
					 &.swiper-button-disabled{
						 opacity:0.35;
					 }
				 }
			}

		}
		.standard-nav:hover{
			.rtsb-gallery-slider{
				> .swiper-nav {
					opacity: 1!important;
					visibility:visible!important;
				}
			}
		}
	}
	//.inner-slider-always-hide-nav{
	//	.product-gallery.rtsb-gallery-slider{
	//		.swiper-nav{
	//			.swiper-arrow{
	//				opacity:0;
	//				visibility:hidden;
	//				transform: scale(0);
	//			}
	//		}
	//	}
	//}
	.default-img {
		& + .swiper-lazy-preloader {
			display: none;
		}
	}

	.rtsb-carousel-slider {
		padding: 0 !important;

		//@include transition();

		&.slider-loading {
			opacity: 0;
			visibility: hidden;
		}

		.swiper-lazy-preloader {
			width: 30px;
			height: 30px;
			margin-left: -15px;
			margin-top: -15px;
			border-width: 2px;
			border-style: solid;
			border-radius: 50%;
			border-color: $color-primary;
			border-top-color: transparent;
			animation: rtsb-ball-clip-rotate 0.75s linear infinite;
		}
	}
}
