/**
 * Component: Page-loader.
 */

.alsiha-pageloader {
	@extend .abs-content;
	@extend .width-100;
	@extend .height-100;
	@extend .bgc-white;
	@include content-position(0, null, null, 0);

	z-index: 999999;
	overflow: visible;

	.pageloader-inner {
		@extend .abs-content;
		@extend .text-center;
		@extend .width-100;
		@extend .height-auto;
		@include content-position(50%);

		transform: translateY(-50%);
	}

	.loader-circle {
		text-indent: -9999em;
		margin: 0 auto;
		border: 3px solid $color-border;
		border-radius: 50%;
		border-left-color: $color-primary;

		@include box-size(50px, false);
		@include animation(alsihaSpinner 0.7s infinite linear);
		@extend %pos-r;
	}
}
