/**
 * Component: Handheld Menu.
 */

.alsiha-menu {
	transition: transform $transition-duration $transition-timing-function;

	.has-child {
		.drawer-toggle {
			i {
				&::before {
					transition: transform .3s ease-out;
				}
			}
		}
	}
}

.alsiha-menu-mask {
	transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;

	&is-active {
		transition: opacity 0.3s;
	}
}

