/**
 * Component: Product Meta. Single page widget.
 */
#rtsb-builder-content{
	.rtsb-product-meta {
		&.rtsb-is- {
			&sku:not(.rtsb-show-sku) {
				.sku_wrapper {
					display: none;
				}
			}

			&cat:not(.rtsb-show-cat) {
				.posted_in {
					display: none;
				}
			}

			&tag:not(.rtsb-show-tag) {
				.tagged_as {
					display: none;
				}
			}
		}
	}
}
// Sku Widgets.
.rtsb-product-sku{
	display: flex;
}
//
//.rtsb-product-tags{
//	display: flex;
//
//}