// ===========================
//	Component: Primary Menu
// ===========================

#main-menu {
	padding-right: $gutter-width;

	li {
		@extend .p-0;

		&:last-child {
			a {
				@extend .pr-0;
			}
		}

		&.current-menu-item {
			> a {
				@extend .color-primary;
			}
		}
	}

	a {
		padding-left: calc($gutter-width / 2);
		padding-right: calc($gutter-width / 2);

		@include transition(color $transition-duration $transition-timing-function);

		&:hover,
		&:focus {
			@extend .color-primary;
		}
	}
}

