/**
 * Component: Page-loader.
 */

.alsiha-pageloader {
	@extend .abs-content;
	@extend .width-100;
	@extend .height-100;
	@extend .bgc-white;

	left: 0;
	top: 0;
	z-index: 999999;
	overflow: visible;

	.pageloader-inner {
		@extend .abs-content;
		@extend .text-center;
		@extend .width-100;
		@extend .height-auto;

		transform: translateY(-50%);
		top: 50%;
	}

	.loader-circle {
		position: relative;
		text-indent: -9999em;
		margin: 0 auto;
		border: 3px solid $color-border;
		animation: alsihaSpinner 0.7s infinite linear;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		border-left-color: $color-primary;
	}
}
