/**
 * Component: Slider Dots.
 */

.rtsb-elementor-container {
	.rtsb-carousel-slider {
		.swiper-pagination-bullet {
			width: 10px;
			height: 10px;
			margin: 10px 5px 5px;
			transition: all 0.3s;
		}

		.swiper-pagination {
			bottom: -20px;
			height: 30px;

			@media only screen and (max-width: 576px) {
				margin-top: -10px;
				margin-left: auto;
				margin-right: auto;
			}
		}

		.swiper-pagination-bullet {
			&:hover {
				opacity: 0.75;

				@extend .rtsb-primary-color-bg;
			}
		}

		.swiper-pagination-bullet-active {
			opacity: 0.75;

			@extend .rtsb-primary-color-bg;
		}

		&.swiper-autoheight {
			.swiper-pagination {
				margin-top: 20px;
				margin-left: auto;
				margin-right: auto;
				transform: none !important;
			}
		}
	}

	.swiper-pagination-bullets-dynamic {
		margin-left: auto;
		margin-right: auto;
		transform: none !important;
	}
}
