// ===========================
//	Component: Preloader
// ===========================

.alsiha-site-preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: visible;
	z-index: 9999;
	background-color: #141416;
	background-image: radial-gradient(circle 350px at center, rgba(255, 255, 255, 0.06), transparent);

	.admin-bar & {
		top: 32px;
	}

	.loader {
		@include flex-position();

		flex-direction: column;

		img {
			max-width: 100px;
			min-height: 100px;
		}

		.logo {
			@extend %relative-position;

			--progress-width: 0%;
			font-size: 50px;
			text-transform: uppercase;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: #fff;
			color: transparent;
			font-weight: 900;
			font-family: sans-serif;
			line-height: 1.4;

			&:before {
				@include abs-position(0, null, null, 0);
				@extend %absolute-position;
				@extend .color-secondary;

				width: 0;
				white-space: nowrap;
				content: attr(data-content);
				transition: all .5s cubic-bezier(.17,.67,.32,.87);
				height: 100%;
				overflow: hidden;
				z-index: -1;
			}

			&::before {
				width: var(--progress-width);
			}
		}
	}
}

