// ===========================
//	Component: Handheld Menu.
// ===========================

.alsiha-mobile-menu {
	@include transition(transform $transition-duration $transition-timing-function);
	@include content-position(0, null, null, 0);
	@extend %fixed-position;
	@extend %height-100;

	z-index: 99999;
	width: 70%;
	overflow-y: auto;
	transform: translateX(-100%);
	background: #333;

	.alsiha-menu-items {
		@extend %p-0;
		@extend %m-0;
		list-style: none;

		li {
			@extend .d-block;

			a {
				@extend .d-block;
				@extend .color-white;
				@extend %relative-position;

				padding: 1.2rem 2rem;
				line-height: 1.3;
				font-weight: 500;
			}
		}
	}

	.current-menu-parent {
		> a {
			&:not(.drawer-toggle) {
				background: rgba(0, 0, 0, 0.1);
			}
		}
	}

	.has-child {
		@extend %relative-position;

		.drawer-toggle {
			@include abs-position(0, 0);
			@extend %d-inline-block;
			@extend %text-center;
			@extend %p-0;

			z-index: 9999;
			border: 0;
			width: 60px;
			height: 40px;
			line-height: 55px;

			i {
				&::before {
					@extend %d-block;
					@include transition(transform .3s ease-out);
				}
			}
		}

		> ul {
			@extend %relative-position;
			@extend %width-auto;
			@extend %d-none;
			@include transition(none);

			opacity: 1;
			visibility: visible;
			padding-left: 0;
			background: rgba(0, 0, 0, 0.3);
		}

		&.open {
			> .drawer-toggle {
				i {
					&::before {
						transform: rotate(180deg);
					}
				}
			}
		}
	}

	.admin-bar & {
		top: 46px;
		height: calc(100% - 46px);
	}

	ul {
		&.sub-menu {
			margin-bottom: 1.5rem;
		}
	}

	&.is-active {
		transform: translateX(0);
	}

	.alsiha-menu-close {
		@extend .color-white;
		@extend .d-block;
		@extend .width-100;

		background-color: rgba(0, 0, 0, 0.3);
		border: none;
		box-shadow: none;
		border-radius: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		cursor: pointer;
		font-weight: 600;
		padding: 1.2rem 2.4rem;

		&:focus {
			outline: none;
		}
	}
}

.alsiha-menu-mask {
	@include transition(opacity 0.3s, width 0s 0.3s, height 0s 0.3s);

	&.is-active {
		@include transition(opacity 0.3s);
	}
}

.mobile-menu-footer {
	@extend .width-100;

	padding-top: 2rem;
	margin-top: 3rem;
	padding-bottom: 2rem;
	border-top: 1px solid rgba(255, 255, 255, 0.4);

	.social-icon-wrapper {
		ul {
			@extend %justify-content-center;

			> li {
				> a {
					@extend .color-white;

					border-color: #fff;
					border-radius: 50%;

					&:hover {
						.mobile-menu-footer {
							.social-icon-wrapper {
								ul {
									> li {
										> a {
											&:focus {
												border-color: $color-border;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

#alsiha-menu-trigger {
	.primary-nav {
		margin-right: -1rem;
	}

	.primary-nav-details {
		@extend %p-0;
		@extend .color-white;

		border: 0;
		margin-top: 0.7rem;
		background: transparent;

		svg {
			width: 28px;
		}
	}
}
