// ===========================
//	Component: Header
// ===========================

.intelligent-header {
	z-index: 1000;

	@extend .fixed-content;
	@include content-position(0, 0, null, 0);

	.admin-bar & {
		@include content-position(32px);
	}

	&.scrolling {
		box-shadow: 0 0 33px -27px $color-text;
	}

	+ .fixed-header-space {
		height: 153px;
	}
}

.iheader {
	will-change: transform;
	transition: all 0.3s ease-in-out;

	&--pinned {
		transform: translateY(0);

		.scrolling {
			transform: translateY(-44px);
		}
	}

	&--unpinned {
		transform: translateY(-100%);
	}
}
