/**
 * Component: Single Product.
 */
#rtsb-builder-content {

	p {
		&:last-child {
			@extend %mtb-0;
		}
	}

	th,
	td {
		text-align: initial;
	}

	.variations {
		select {
			max-width: 100%;
		}
	}

	.woocommerce-product-details__short-description {
		@extend %mtb-0;
	}

	.rtsb-cross-sell,
	.rtsb-upsells-products,
	.rtsb-related-products {
		.rtsb-image-wrapper {
			img {
				@extend %mtb-0;
			}

			margin-bottom: 20px;
		}
	}

	.rtsb-product-stock {
		p {
			@extend %mtb-0;
		}
	}

	.rtsb-product-title {
		.product_title {
			@extend %mtb-0;
		}
	}

	.rtsb-product-tabs {
		ul.tabs {
			padding: 0;
			margin-bottom: 20px;
		}

		.woocommerce-tabs {
			padding: 0;
			margin: 0;

			li {
				a {
					padding: 15px 20px 15px 20px;
				}
			}
		}

		#reviews {
			#comments {
				margin-bottom: 30px;

				.commentlist {
					li {
						padding: 0;
						margin-bottom: 20px;
						border-bottom: 0;

						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}

		//&.tabs-custom-layout2 {
		//	.woocommerce-Tabs-panel {
		//		padding: 40px;
		//	}
		//}
	}

	.rtsb-product-additional-information {
		.woocommerce-product-attributes {
			margin: 0;
		}
	}

	.rtsb-product-rating {
		.woocommerce-product-rating {
			display: inline-flex;
			align-items: center;
			flex-wrap: wrap;

			.star-rating {
				margin: 0;
			}
		}
	}

	.rtsb-notice .button {
		@extend %d-inline-flex;
		@extend %align-items-center;
	}

	.rtsb-product-meta {
		.product_meta {
			margin: 0;
			padding: 0;
			border: 0;
			display: flex;
			flex-wrap: wrap;
		}
	}

	.rtsb-product-tags,
	.rtsb-product-sku .sku-wrapper,
	.rtsb-product-categories,
	.rtsb-product-meta .product_meta > span{
		display: flex;
		gap: 5px;
	}

	.rtsb-product-tabs {
		.tabs {
			@media(max-width: 767px) {
				margin-bottom: 30px;
			}
		}
	}

}

.single-product {
	:is( .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .shop_attributes ) {
		@extend %mtb-0;
	}

	.wc-tab {
		> h2,
		#comments {
			> h2 {
				margin-bottom: 20px;
			}
		}

		#reviews {
			#comments {
				ol {
					padding: 0;

					&.commentlist {
						img {
							&.avatar {
								padding: 0;
								margin-right: 20px;
								position: relative;
								float: none;
								width: auto;
							}
						}

						.comment_container {
							@extend .rtsb-d-flex;
							@extend .rtsb-align-items-start;
						}

						.comment-text {
							padding: 15px;
							width: 100%;
							margin-left: 0;
							border: 1px solid #e1dde7;

							p {
								&:last-child {
									margin-bottom: 0;
								}
							}
						}
					}

					.children {
						margin-top: 20px;
						padding-top: 0;
					}
				}
			}
		}
	}

	.rtsb-product-tabs {
		#review_form_wrapper {
			#respond {
				.comment-form-rating {
					label {
						+ p.stars {
							margin-top: 5px;
						}
					}
				}
			}
		}
	}
}

.elementor-widget-rtsb-product-price {
	.rtsb-product-price {
		.price {
			del {
				opacity: 1 !important;
			}
		}
	}
}
