// ===========================
//	Component: Scroll to Top
// ===========================

.alsiha-scroll-to-top {
	@extend .bgc-primary;

	cursor: pointer;
	z-index: 999;
	display: none;

	@include overflow(hidden);
	@include content-position(null, 20px, 25px);
	@include box-size(40px);
	@extend .fixed-content;
	@extend .color-white;
	@extend .text-center;

	&::before,
	&::after {
		@extend .width-100;
		@extend .height-100;
		@extend .absolute-content;
		@extend .d-block;

		content: "";
		transition: all 0.3s $transition-timing-function;

		@include content-position(0, auto, auto, 0);
	}

	&::before {
		opacity: 0;
		z-index: 2;
		transform: scale(1);
	}

	&::after {
		@extend .bgc-secondary;

		z-index: 1;
		transform: scale(0);
	}

	i {
		@extend .relative-content;
		@extend .text-center;
		@extend .d-inline-block;
		@include transition();
		@include content-position(0, null, null, 0);
		@include box-size(40px);

		z-index: 10;
		transform: translate(0, 0);
	}

	&:hover {
		&::after {
			transform: scale(1);
		}

		i {
			transform: translate(0, -40px);
		}
	}
}


