// ===========================
//	Component: Forms
// ===========================

.form-control {
	display: block;
	width: 100%;
	padding: 0.6rem 1.2rem;
	font-family: $font-body;
	font-weight: 400;
	color: #212529;
	appearance: none;
	background-clip: padding-box;
	border: 1px solid $color-border;

	@extend %body-line-height;
	@extend .bgc-white;
	@extend %body-font-size;

	@include placeholder {
		font-size: 1.6rem;
		line-height: 1.5;
		color: #000;
	}
}

.alsiha-home-form {
	.forminator-custom-form {
		> .forminator-response-message {
			@extend %d-none;
		}

		.forminator-label {
			@extend %white-color;
			@extend %d-block;

			margin-bottom: 1rem;
			font-size: 1.5rem;
			font-weight: 600;
		}

		textarea,
		input {
			@extend %white-color;

			border: 2px solid #fff;

			&:focus {
				border-color: $color-primary;
			}
		}

		.forminator-row,
		&.forminator-ui {
			&:not(.forminator-size--small)[data-grid=open] {
				.forminator-row {
					&:not(:last-child) {
						margin-bottom: 2rem;
					}
				}
			}
		}

		.forminator-required,
		.forminator-error-message {
			color: #e80000;
		}

		.forminator-error-message {
			margin-top: 8px;
			display: block;
			font-weight: 500;
		}

		.forminator-field {
			&.forminator-has_error {
				input,
				textarea {
					border-color: #e80000;
				}
			}
		}

		.forminator-button {
			&.forminator-button-submit {
				@include transition();
				@extend %white-color;

				padding: 1.6rem 4rem;
				font-size: 1.4rem;
				border: 2px solid #fff;
				border-radius: 2px;
				font-weight: 700;
				background: transparent;

				&:hover,
				&:focus {
					@extend %white-color;
					@extend %primary-color-bg;

					border-color: $color-primary;
				}
			}
		}
	}
}
