/**
 * Component: Cart Page.
 */
//Global Css Overriding
.woocommerce,
.woocommerce-page {
	.rtsb-myacount-page.rtsb-table-horizontal-scroll-on-mobile,
	.rtsb-cart-totals {
		table.shop_table_responsive tbody {
			tr {
				display: table-row;
			}

			th,
			td {
				display: table-cell;
			}

			td {
				&::before {
					display: none;
					//float: inherit;
				}
			}
		}

		ul#shipping_method {
			.shipping_method {
				margin-right: 5px;
			}
		}
	}

	.rtsb-myacount-page.rtsb-table-horizontal-scroll-on-mobile {
		@media (max-width: 767px) {
			table {
				border-collapse: collapse;

				thead,
				tbody {
					display: table-row-group !important;
				}
			}

			th, td {
				min-width: 180px;
			}
		}
	}
}

/**
 * Cart Page Builder Css
 */
.rtsb-builder-content {
	button,
	.button {
		transition: 0.3s all;
	}

	table {
		dl.variation {
			display: none;
		}

		@media (min-width: 768px) {
			border-collapse: collapse !important;
		}
		margin: 0;

		&.cart {
			.product-thumbnail {
				img {
					max-width: initial;
					margin: initial;
				}
			}
		}
	}

	.woocommerce-cart-form {
		input {
			box-shadow: none;
			outline: none;

			&.qty {
				max-width: initial;
			}
		}

		.actions {
			input {
				width: initial;
				display: inline-block;
				margin: 0;
			}
		}

		.shop_table {
			tbody {
				.product-thumbnail {
					&::before {
						content: none !important;
					}
				}
			}
		}
	}

	.return-to-shop {
		a {
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}
	}

	.rtsb-cart-table:not(.rtsb-table-horizontal-scroll-on-mobile) {
		.table-column-wrapper {
			width: 100%;
			align-items: center;
			height: 100%;
			@media (max-width: 767px) {
				text-align: right;
			}

			.product-attributes-wrapper {
				.product-attributes {
					li {
						display: flex;
						column-gap: 3px;
					}
				}
			}
		}

		.product-products {
			.table-column-wrapper {
				@media (max-width: 767px) {
					text-align: left;
				}
			}
		}

		td {
			vertical-align: middle;

			&.product-remove {
				.table-column-wrapper {
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}

		a {
			&.remove {
				display: flex;
				align-items: center;
				justify-content: center;
				text-indent: 0;

				&::after,
				&::before {
					content: none;
				}
			}
		}

		@media (min-width: 768px) {
			.woocommerce-cart-form {
				overflow-x: auto;
			}
		}

		.rtsb-product-image {
			@media (max-width: 767px) {
				display: none;
				width: 100%;
				max-width: 100%;
			}

			.show-image-on-mobile {
				@media (max-width: 767px) {
					display: block;
				}
			}
		}

		.actions-button-wrapper {

			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			@media (max-width: 767px) {
				flex-wrap: wrap;
				justify-content: center;
			}

			.rtsb-button-wrapper {
				margin-left: auto;
				display: flex;
				@media (max-width: 767px) {
					margin-left: inherit;
					flex-wrap: wrap;
					gap: 20px;
					margin-top: 20px;
					justify-content: center;
				}
			}

			button[name="update_cart"] {
				order: 10;
			}

			.rtsb-clear-cart-items {
				order: 9;
				margin-left: auto;
			}
		}

		table.shop_table {
			thead {
				@media (min-width: 768px) {
					display: table-header-group;
				}

				.product-thumbnail {
					@media (min-width: 768px) {
						display: table-cell;
					}
				}
			}

			tr {
				@media (min-width: 768px) {
					display: table-row;
				}
			}

			tbody {
				tr {
					@media (max-width: 767px) {
						display: flex;
						justify-content: space-between;
						align-items: center;
						position: relative;
						td.product-remove {
							left: 0;
							margin: auto;
							position: absolute;
							right: 0;
							top: -20px;
							border: 1px solid #ddd;
							width: 40px;
							height: 40px;
							border-radius: 50%;
							background: #fff;
							padding: 0;
						}
					}
				}
			}

			tr {
				th,
				td {
					background-color: transparent;
				}

				td {
					@media (min-width: 768px) {
						display: table-cell;
					}

					border-top: 0;

					@media (min-width: 768px) {
						&[data-title] {
							&::before {
								content: none;
							}
						}
					}
					@media (min-width: 768px) {
						&::after {
							content: none;
						}
					}
					@media (max-width: 767px) {
						border: 0;
						.rtsb-product-content {
							position: relative;
							width: 100%;
							text-align: left;
						}
					}

					&.product-data {
						&[data-title] {
							&::before {
								content: none;
							}
						}
					}

					&.product-remove {
						a {
							top: 0;
							left: 0;
							right: 0;
							margin: auto;
							bottom: 0;
							display: flex;
							align-items: center;
							justify-content: center;
						}
					}

					&.actions {
						text-align: initial;

						.coupon {
							//padding-bottom: 1em;
							//border-bottom: 1px solid rgba(0,0,0,.05);
							display: inline-flex;
							align-items: flex-start;
							//gap: 10px;
							border: none;
							margin: 0 !important;

							label {
								display: none;
							}
						}
					}
				}
			}
		}

		td.product-subtotal {
			grid-row: 1 / 2;
			grid-column: 2 / -1;
			position: relative;

			.amount {
				display: block;
				position: relative;
				@media (max-width: 767px) {
					padding-right: 40px;
					&::before {
						content: '';
						background-color: #989ba2;
						mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAyMCAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE4IDEwTDEwIDJMMiAxMCIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiIHN0cm9rZS13aWR0aD0iMi40IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
						mask-position: center;
						mask-repeat: no-repeat;
						mask-size: 13px;
						position: absolute;
						right: -5px;
						transition: all .3s;
						width: 20px;
						height: 20px;
						z-index: 1;
						padding: 0;
						top: 0px;
						bottom: 0;
						margin: auto;
						transform: rotate(90deg);
					}
				}
			}

			.subtotal-action-button-wrapper {
				display: flex;
				flex-direction: column;
				@media (max-width: 767px) {
					//padding-right: 40px;
				}

				.rtsb-wishlist-btn {
					//justify-content: flex-end;
				}
			}

			a {
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 1.65;
				padding: 0;
				transition: 0.3s all;
				position: relative;
				text-decoration: underline;
				text-underline-offset: 3px;
				//border-bottom: 1px solid;
				//padding-bottom: 1px;

				&:hover {
					color: var(--rtsb-color-primary);
				}
			}
		}

		.cart-to-wishlist {
			.button-text {
				display: none;
			}
		}

	}
}

.elementor-widget-rtsb-product-carttable {
	.rtsb-cart-table:not(.rtsb-table-horizontal-scroll-on-mobile) {
		table {
			&.shop_table {

				&.shop_table_responsive {
					@media (min-width: 768px) {
						min-width: 600px;
					}

					thead {
						@media (max-width: 767px) {
							display: block;
							tr {
								display: flex;
								justify-content: space-between;
							}
						}
						@media (max-width: 767px) {
							th {
								&:not( .product-products, .product-name, .product-subtotal) {
									display: none;
								}
							}
						}
					}

					tbody {
						@media (max-width: 767px) {
							.woocommerce-cart-form__cart-item {
								display: grid;
								grid-template-columns: auto;
								align-items: flex-start;
								background: #f6f7f8;
								transition: all 0.3s;

								> td {
									&.product-subtotal,
									&.product-name {
										&::before {
											content: none;
										}
									}

									&.product-name {
										order: -1;
									}

									&.product-thumbnail.show-image-on-mobile {
										order: 0;
									}

									&.product-thumbnail:not( .show-image-on-mobile ) {
										display: none !important;
									}

									&:not( .product-thumbnail.show-image-on-mobile, .product-name, .product-data, .product-subtotal) {
										grid-column: 1 / 3;
									}
								}

								&:not(.active-row) {
									background: #fff;
									padding-bottom: 0;

									.subtotal-action-button-wrapper,
									.product-attributes-wrapper {
										display: none;
									}

									> td {
										&:not(.product-name, .product-data, .product-subtotal) {
											display: none;
										}
									}
								}

								&.active-row {
									.show-image-on-mobile {
										.rtsb-product-image {
											//	 display: block;
										}
									}

									.product-subtotal {
										.amount {
											&::before {
												transform: rotate(0deg);
											}
										}
									}

									& + .active-row {
										margin-top: 10px;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	tfoot {
		td {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}

		::-webkit-input-placeholder {
			font-size: 14px;
		}

		::-moz-placeholder {
			font-size: 14px;
		}

		:-ms-input-placeholder {
			font-size: 14px;
		}

		:-moz-placeholder {
			font-size: 14px;
		}

		.actions-button-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}

		.actions {
			//display: block !important;
			text-align: initial;

			.coupon {
				display: inline-flex;
				align-items: flex-start;
				border: none;
				margin: 0 !important;

				label {
					display: none;
				}
			}

			button[name=update_cart] {
				order: 10;
			}

			@media only screen and (max-width: 767px) {
				display: table-cell !important;
			}
		}
	}
}

.rtsb-cart-totals {
	h2 {
		display: none;
	}

	.wc-proceed-to-checkout {
		.checkout-button {
			display: inline-flex !important;
			@extend %align-items-center;
			@extend %justify-content-center;
		}
	}

	&.hide-shipping-address {
		tr.woocommerce-shipping-totals {
			display: none;
		}
	}


}

.rtsb-cross-sell .cross-sells .products .product {
	display: initial;
}

.rtsb-table-horizontal-scroll-on-mobile {
	@media (max-width: 767px) {
		&.rtsb-order-thankyou,
		.rtsb-myacount-page,
		&.rtsb-myacount-page,
		.woocommerce-checkout-review-order,
		.cart_totals {
			overflow-x: auto;
		}

		.shop_table {
			min-width: 520px;
		}

		.download-file {
			display: table-cell !important;
		}

		form.woocommerce-cart-form {
			display: block;
			overflow-x: scroll;

			table.cart {
				min-width: 750px;
				margin-bottom: 20px;
			}
		}
	}

	table {
		tbody {
			> tr {
				&:nth-child(odd) {
					> td,
					> th {
						background-color: transparent;
					}
				}

				&:hover {
					> td,
					> th {
						background-color: transparent;
					}
				}
			}

			.product-thumbnail {
				@media only screen and (max-width: 767px) {
					display: table-cell !important;
				}
			}
		}

		tfoot {
			.rtsb-button-wrapper {
				flex: 1;
				display: flex;
				justify-content: flex-end;
			}
		}
	}
}


