/**
 * Component: Toaster.
 */
@import "../../../../node_modules/toastr/toastr";

#toast-container {
	.toast {
		border: none;
		overflow: hidden;
		line-height: 1.5714285714285714;
		word-wrap: break-word;
		background-color: #000;
		border-radius: 12px;
		box-shadow: 0px 1.005px 2.68px 0px rgba(0, 0, 0, 0.10);
		color: #fff;
		padding-left: 55px;
		@include transition();
	}

	&:hover {
		.toast {
			box-shadow: 0 6px 16px 0 rgb(0 0 0 / 8%), 0 3px 6px -4px rgb(0 0 0 / 12%), 0 9px 28px 8px rgb(0 0 0 / 5%);
		}
	}

	.toast-title {
		font-size: 16px;
		font-weight: 500;
		line-height: 1;
	}

	.toast-success {
		color: var(--rtsb-color-primary);
		background-color: #F5F8FF;
		border: none;
		opacity: 1 !important;
		border-radius: 12px !important;
		background-image: none !important;
		box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.10);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: column;

		.toast-message {
			font-weight: 500;
		}

		a {
			color: #082d10;
			text-decoration: underline;
			font-weight: 500;
			line-height: 1;
			margin-top: 7px;
			display: block;
			font-size: 14px;
			text-underline-offset: 3px;
		}

		&::before {
			position: absolute;
			font-size: 12px;
			width: 28px;
			height: 28px;
			line-height: 28px;
			background: var(--rtsb-color-primary);
			color: #fff;
			border-radius: 50%;
			left: 15px;
			top: 50%;
			font-family: WooCommerce;
			content: "\e017";
			margin-left: 0;
			vertical-align: bottom;
			text-align: center;
			transform: translateY(-50%);
			font-weight: 900;
		}

		.toast-close-button {
			color: var(--rtsb-color-primary);
			width: 24px;
			height: 24px;
			border-radius: 100%;
			line-height: 24px;
			background-color: #fff;
			box-shadow: 0 9.09091px 13.63636px 0 #CFD6E4;
			position: absolute;
			right: 7px;
			top: 7px;
			font-weight: 400;
			padding: 0;
			font-size: 20px;
			outline: none;
		}
	}

	.toast-error {
		background-color: #bd362f;
	}

	.toast-info {
		background-color: #2f96b4;
	}

	.toast-warning {
		background-color: #f89406;
	}

	.toast-close-button {
		opacity: 1;
		background: transparent;
		height: auto;
		line-height: 1;
		top: -5px;
		right: -6px;
	}

	&.toast-center-center {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	a {
		color: #fff;
	}
}

.rtsb-loading {
	position: relative;
}

.rtsb-loading-overlay {
	&::before {
		height: 1em;
		width: 1em;
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -.5em;
		margin-top: -.5em;
		content: '';
		background: url('../../images/ajax-loader.svg') center center;
		background-size: cover;
		line-height: 1;
		text-align: center;
		font-size: 2em;
		color: rgba(0, 0, 0, .75);
	}
}
