/**
 * Component: Social Share.
 */

.rtsb-social-share {
	padding: 0;
	margin: 0;
	list-style: none;
	gap: 8px;
	flex-wrap: wrap;

	@extend .rtsb-d-flex;

	.rtsb-share-btn {
		border-radius: 2px;
		font-weight: 700;
		display: inline-block;
		line-height: 0;
		outline: 0;
		padding: 7px 12px 7px 9px;

		@include transition();

		svg {
			fill: #fff;
			width: 12px;
			height: 12px;

			@include transition();
		}

		&:hover {
			transform: scale(1.1);
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
		}
	}

	.rtsb-share-icon-label {
		@extend .rtsb-d-flex;
		@extend .rtsb-align-items-center;
		@extend .rtsb-justify-content-center;

		.rtsb-share-icon {
			display: block;
			margin-top: 1px;

			@include transition();

			+ .rtsb-share-label {
				margin-left: 8px;
			}
		}

		.rtsb-share-label {
			color: #fff;
			display: block;
			float: left;
			font-size: 12px;
			line-height: 14px;

			@include transition();
		}
	}

	.facebook {
		background-color: #3B5998;

		&:hover {
			background-color: #2d4373;
		}
	}

	.twitter {
		background-color: #00B6F1;

		&:hover {
			background-color: #008fbe;
		}
	}

	.pinterest {
		background-color: #CB2027;

		&:hover {
			background-color: #9f191f;
		}
	}

	.linkedin {
		background-color: #007BB6;

		&:hover {
			background-color: #005983;
		}
	}

	.skype {
		background-color: #06bcff;

		&:hover {
			background-color: #0493c8;
		}
	}

	.whatsapp {
		background-color: #25D366;

		&:hover {
			background-color: #13ac4c;
		}
	}

	.reddit {
		background-color: #FF5700;

		&:hover {
			background-color: #d94e07;
		}
	}

	.telegram {
		background-color: #29b6f6;

		&:hover {
			background-color: #1f93c7;
		}
	}
}
