/**
 * Component: Notice.
 */

.rtsb-notice {
	.wc-block-components-notice-banner {
		align-content: flex-start;
		align-items: stretch;
		background-color: #fff;
		border: 1px solid;
		border-radius: 4px;
		box-sizing: border-box;
		color: #2f2f2f;
		display: flex;
		font-size: .875em;
		font-weight: 400;
		gap: 12px;
		line-height: 1.5;
		margin: 16px 0;
		padding: 16px !important;

		> svg {
			fill: #fff;
			background-color: #2f2f2f;
			border-radius: 50%;
			flex-grow: 0;
			flex-shrink: 0;
			height: 100%;
			padding: 2px;
		}

		&.is-success {
			background-color: #f4fff7;
			border-color: #4ab866;

			> svg {
				background-color: #4ab866;
			}
		}

		&.is-error {
			background-color: #fff0f0;
			border-color: #cc1818;

			> svg {
				background-color: #cc1818;
				transform: rotate(180deg);
			}
		}

		&.is-info {
			background-color: #f4f8ff;
			border-color: #007cba;

			> svg {
				background-color: #007cba;
			}
		}

		&:last-child {
			margin-bottom: 20px;
		}

		> .wc-block-components-notice-banner__content {
			-ms-grid-row-align: center;
			align-self: center;
			flex-basis: 100%;
			padding-right: 16px;
			white-space: normal;

			&:last-child {
				padding-right: 0;
			}

			.wc-forward {
				-moz-appearance: none;
				appearance: none;
				background: transparent !important;
				border: 0;
				color: #2f2f2f !important;
				float: right;
				margin: 0;
				opacity: 1;
				padding: 0 !important;
				text-decoration-line: underline;
				text-underline-position: under;

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}

// Shopbuilder Css
.rtsb-builder-content {
	.woocommerce-error,
	.woocommerce-info,
	.woocommerce-message {
		margin: 0;
		padding: 1em;
	}

	.woocommerce-info {
		background: $color-primary;
		color: #fff;
	}

	.woocommerce-notices-wrapper {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.rtsb-notice {
		:is(.woocommerce-message, .woocommerce-error) {
			padding-left: 50px;
		}

		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	.wc-block-components-notice-banner {
		margin: 0;

		&:last-child {
			// margin-bottom: 20px;
		}

		//.wc-block-components-notice-banner__content {
		//	display: flex;
		//	justify-content: space-between;
		//	flex-direction: row-reverse;
		//	align-items: center;
		//}
	}

	.woocommerce-form-login-toggle,
	.woocommerce-form-coupon-toggle {
		.wc-block-components-notice-banner {
			margin-bottom: 0;
		}
	}
}

.elementor-widget-rtsb-wc-notice {
	margin-bottom: 0 !important;
}

//Checkout notice CSS
.rtsb-checkout-coupon-form {
	overflow: hidden;

	.woocommerce-form-login {

	}
}

.rtsb-checkout-login-form .woocommerce-form-login {
	display: none;
	padding: 25px 30px;
	border: 1px solid #ddd;
	margin-top: 15px;
	border-radius: 5px;

	.login-form-fields label {
		margin-bottom: 5px;
	}

	input {
		background: #fff;
		border-radius: 4px;
		border: 1px solid #ebebeb;
	}

	[type=submit] {
		padding-left: 30px;
		padding-right: 30px;
		background: $color-primary;
		color: $color-white;
	}

	> p {
		gap: 15px;
		margin-bottom: 0;
	}

	.form-row {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: left;
		@media (max-width: 767px) {
			display: block;
		}
	}
}

.rtsb-product-catalog,
.rtsb-elementor-container {
	.woocommerce-no-products-found {
		grid-column: 1 / -1;
		width: 100%;

		.woocommerce-info {
			text-align: center;
			justify-content: center;
			background: transparent;
			color: #333;
			border: 0;

			&::before {
				content: none;
			}
		}
	}
}
