// ===========================
//	Component: Button
// ===========================

%primary-button {
	padding: 1.5rem 2rem;
	min-width: 180px;
	text-transform: capitalize;
	font-family: $font-heading;
	font-size: 14px;
	font-weight: 700;
	border-radius: 0;

	@extend .color-white;
	@extend .text-center;
	@extend .height-auto;
	@extend .d-inline-block;

	&:hover {
		@extend .color-white;
	}
}

input[type="submit"],
.sigma-btn {
	@extend %primary-button;
}

.sigma-button-popup {
	.buttons-popup-wrapper {
		@extend %d-flex;
		@extend %flex-wrap;
		@extend %justify-content-between;

		gap: 15px;

		.button-popup-item {
			> a {
				@extend %d-flex;
				@extend %justify-content-center;
				@extend %align-items-center;
				@extend %secondary-color;

				padding: 8px 20px;
				border: 1px solid var(--alsiha-secondary-color);
				font-weight: 500;
				font-size: 1.5rem;
				border-radius: 3px;

				&:hover {
					@extend .bgc-primary;
					@extend %white-color;
				}
			}
		}
	}
}

