// ===========================
//	Variables
// ===========================

// Colors
$color-text: var(--alsiha-text-color);
$color-primary: var(--alsiha-primary-color);
$color-secondary: var(--alsiha-secondary-color);
$color-tertiary: var(--alsiha-tertiary-color);
$color-offset: var(--alsiha-offset-color);
$color-border: var(--alsiha-border-color);

// Fonts
$font-body: var(--alsiha-body-font);
$font-heading: var(--alsiha-heading-font);

// Spacings
$gutter-full: var(--alsiha-gutter);
$gutter-half: var(--alsiha-gutter-half);
$gutter-expand-factor: var(--alsiha-gutter-expand-factor);

// Transitions
$transition-all: var(--alsiha-transition-all);
$transition-property: var(--alsiha-transition-property);
$transition-duration: var(--alsiha-transition-duration);
$transition-timing-function: var(--alsiha-transition-timing-function);

// Box Shadow
$box-shadow: var(--alsiha-box-shadow);
$box-shadow-hover: var(--alsiha-box-shadow-hover);


// Breakpoints
$breakpoints: (
	"xxs": (max-width: 479px,
	),
	"xs": (max-width: 575px,
	),
	"sm": (max-width: 767px,
	),
	"md": (max-width: 991px,
	),
	"lg": (max-width: 1199px,
	),
) !default;
