// ===========================
//	Variables
// ===========================

// Prefix for :root CSS variables.
$prefix: alsiha- !default;

// Colors.
$color-text: var(--#{$prefix}text-color);
$color-primary: var(--#{$prefix}primary-color);
$color-secondary: var(--#{$prefix}secondary-color);
$color-tertiary: var(--#{$prefix}tertiary-color);
$color-offset: var(--#{$prefix}offset-color);
$color-border: var(--#{$prefix}border-color);

$theme-colors: (
	'text': $color-text,
	'primary': $color-primary,
	'secondary': $color-secondary,
	'offset': $color-offset,
	'white': #fff,
	'black': #000,
	'border': $color-border
);

// Fonts.
$font-body: var(--#{$prefix}body-font);
$font-heading: var(--#{$prefix}heading-font);
$base-font-size: 16px;
$body-font-size: var(--#{$prefix}body-font-size);
$body-line-height: var(--#{$prefix}body-line-height);
$heading-font-size: var(--#{$prefix}heading-font-size);

// Grid system variables.
$grid-columns: 12;
$gutter-width: var(--#{$prefix}column-gutter);

// Spacings.
$gutter-full: var(--#{$prefix}gutter);
$gutter-half: var(--#{$prefix}gutter-half);
$gutter-expand-factor: var(--#{$prefix}gutter-expand-factor);

// Transitions.
$transition-all: var(--#{$prefix}transition-all);
$transition-property: var(--#{$prefix}transition-property);
$transition-duration: var(--#{$prefix}transition-duration);
$transition-timing-function: var(--#{$prefix}transition-timing-function);

// Box Shadow.
$box-shadow: var(--#{$prefix}box-shadow);
$box-shadow-hover: var(--#{$prefix}box-shadow-hover);

// Text alignments.
$text-alignments: (
	'left',
	'center',
	'right',
);

// Display.
$display-properties: (
	'none',
	'block',
	'inline-block',
	'flex',
	'inline-flex',
	'grid',
);

// Horizontal alignments.
$content-horizontal-alignments: (
	'flex-start',
	'flex-end',
	'center',
	'space-around',
	'space-between',
);

// Vertical alignments.
$content-vertical-alignments: (
	'flex-start',
	'flex-end',
	'center',
);

// Gutters.
$gutters: (
	'mb-full',
	'mt-full',
	'mb-half',
	'mt-half',
	'pb-full',
	'pt-full',
	'pb-half',
	'pt-half',
	'p-0',
	'm-0',
	'mb-0',
	'pb-0',
);

// Inputs.
$input-height: 40px;

// Breakpoints.
$breakpoints-px: (
	xs: 480px,
	sm: 576px,
	md: 768px,
	lg: 1024px,
	xl: 1200px,
	xxl: 1600px,
) !default;

$breakpoints: map-merge(
			(),
		(
			xs: px_to_em(map-get($breakpoints-px, xs)),
			sm: px_to_em(map-get($breakpoints-px, sm)),
			md: px_to_em(map-get($breakpoints-px, md)),
			lg: px_to_em(map-get($breakpoints-px, lg)),
			xl: px_to_em(map-get($breakpoints-px, xl)),
			xxl: px_to_em(map-get($breakpoints-px, xxl)),
		)
);

// Grid containers.
$container-max-widths: (
	sm: var(--#{$prefix}container-sm),
	md: var(--#{$prefix}container-md),
	lg: var(--#{$prefix}container-lg),
	xl: var(--#{$prefix}container-xl),
	xxl: var(--#{$prefix}container-xxl)
) !default;
